---
import { loadAndFormatCollection } from 'src/util/collection.ts'
import Map from 'src/components/venue/Map.astro'
import EntriesByCollectionLayout from 'src/layouts/base/EntriesByCollectionLayout.astro'
import { theme } from 'src/Theme.css'
import AllAgesIndicator from 'src/components/AllAgesIndicator.astro'

export async function getStaticPaths() {
	const artistEntries = await loadAndFormatCollection('venue')
	return artistEntries.map((entry) => ({
		params: { slug: entry.extra.slug },
		props: {
			entry
		}
	}))
}

const { entry } = Astro.props
---

<EntriesByCollectionLayout entry={entry}>
	<Map
		slot="banner"
		heightMobile={'40vh'}
		height={theme.dimensions.defaultBannerHeight}
		markers={[{ coords: [entry.entry.data.lng, entry.entry.data.lat] }]}
		center={[entry.entry.data.lng, entry.entry.data.lat + 0.001]}
		zoom="16"
		nointeract={true}
	>
		<div slot="popups">
			<div class="popup" data-open={true}>
				<div style={{ display: 'flex', flexDirection: 'column', gap: '10px' }}>
					{entry.entry.data.allAges && <AllAgesIndicator />}
					<a
						target="_blank"
						class="button"
						href={`https://www.google.com/maps/@?api=1&map_action=map&center=${entry.entry.data.lat}%2C${entry.entry.data.lng}&zoom=21`}
					>
						Open in Maps
					</a>
				</div>
			</div>
		</div>
	</Map>
</EntriesByCollectionLayout>
