---
/**
 * This is the base layout which all layouts should inherit from.
 *
 * Props:
 *  - hideFooter (optional): The footer will be hidden if true.
 *  - className (optional): Classes added to the content wrapper.
 *  - poo: SEO gubbins
 *
 * Slot:
 *  - default: All site content should go here.
 */
import SiteFooter from 'src/components/SiteFooter.astro'
import SiteHeader from 'src/components/SiteHeader.astro'
import SEO, { type Poo } from 'src/components/SEO.astro'
import '../../Theme.css.ts'
import './BaseLayout.css.ts'
import 'lightgallery/css/lightgallery.css'
import { Content, SiteContainer } from 'src/components/UtilClasses.css'
import { ClientRouter } from 'astro:transitions'
import siteIcon from 'src/assets/site-icon.jpg'

interface Props {
	hideFooter?: boolean
	className?: string
	poo: Poo
}

const { hideFooter, className = '', poo } = Astro.props
---

<html lang="en" transition:animate="none">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/jpg" href={siteIcon.src} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">
		<meta name="theme-color" content="#08090C" />
		<meta name="generator" content={Astro.generator} />
		<SEO poo={poo} />
		<ClientRouter />
		<script type="application/javascript" is:inline>
			var global = window
		</script>
	</head>
	<body>
		<div class={SiteContainer[hideFooter ? 'hideFooter' : 'default']}>
			<SiteHeader transition:persist />
			<div class={`${Content} ${className}`}>
				<slot />
			</div>
		</div>
		{!hideFooter && <SiteFooter transition:persist />}
	</body>
</html>

<script is:inline>
	// Adds a loading spinner to the clicked element
	document.addEventListener('astro:before-preparation', (ev) => {
		const sourceElement = ev.sourceElement
		sourceElement?.classList.add('spinner')
	})
</script>

<style is:global>
	@keyframes spinner {
		to {
			transform: rotate(360deg);
		}
	}
	.spinner:before {
		z-index: 15;
		content: '';
		box-sizing: border-box;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		margin-left: -10px;
		border-radius: 50%;
		border: 2px solid #ccc;
		border-top-color: #000;
		animation: spinner 0.6s linear infinite;
	}
</style>
