---
/**
 * A layout with a player for playing one artists audio.
 *
 * Props:
 *  - audioFromGigs: Array of ArtistAudio elements to put in the playlist
 *  - gigsFromEntry: The Entry which the gigs are from (optional)
 */
import { loadAndFormatCollection, type ArtistAudio, type ProcessedEntry } from 'src/util/collection'
import SidebarPlayer from 'src/components/gig/SidebarPlayer'
import ImageGallery from 'src/components/ImageGallery.astro'
import BaseLayout from '../base/BaseLayout.astro'
import { artistPlayerThreshold } from 'src/util/constants'
import DropdownMenu from 'src/components/DropdownMenu.astro'
import { fileButton, gigMetaWrapper } from 'src/layouts/base/PlayerLayout.css'

interface Props {
	audioFromGigs?: ArtistAudio[] | undefined
	gigsFromEntry?: ProcessedEntry<'artist'>
}

const { gigsFromEntry, audioFromGigs } = Astro.props

const entries = await loadAndFormatCollection('artist', (entry) => entry.extra.gigCount > artistPlayerThreshold)
const artistList = entries.map((entry) => ({ title: entry.entry.id, href: `/player/artists/${entry.entry.id}` }))
---

<BaseLayout
	hideFooter={true}
	poo={{
		title: gigsFromEntry ? `${gigsFromEntry.entry.data.title} Player` : 'Player',
		description: gigsFromEntry ? `Play audio bootlages from ${gigsFromEntry.entry.data.title}.` : 'Audio player'
	}}
>
	<SidebarPlayer
		title={`${gigsFromEntry ? gigsFromEntry.entry.id : ''} PLAYER`}
		artistAudio={audioFromGigs}
		client:load
	>
		<DropdownMenu
			slot="menu"
			list={[
				{ title: 'Load an artist', submenu: artistList },
				{ title: 'Load all', href: '/player/gigs' }
			]}
			direction="down"
			width="200px"
			buttonPosition="left"
			backgroundColor="#353551"
		>
			<div class={fileButton} slot="button">File</div>
		</DropdownMenu>
		<div
			id="gig-meta"
			class={gigMetaWrapper}
			data-artist={gigsFromEntry ? gigsFromEntry.entry.id : 'index'}
			data-gig={''}
		>
		</div>
		<ImageGallery thumbnailWidthDesktop="200px" />
	</SidebarPlayer>
</BaseLayout>

<script>
	import {
		imageGalleryUpdateEventName,
		playerTrackChange,
		type ImageGalleryUpdateEventDetails,
		type PlayerTrackChangeEventDetails
	} from 'src/util/events'

	import { getEntryPath, type ArtistGigResponse } from 'src/util/helpers'

	const init = () => {
		const metaContainer: HTMLElement | null = document.querySelector('#gig-meta')

		/**
		 * When the track changes, grab data about the gig.
		 */
		window.addEventListener(playerTrackChange, async (e: any) => {
			const detail: PlayerTrackChangeEventDetails = e.detail

			const artistId = document.querySelector<HTMLElement>('#gig-meta')?.dataset.artist ?? 'index'
			const gigId = detail.track.dataAttributes?.['data-gig']

			// Do nothing if nothing changed
			if (!gigId || gigId == metaContainer?.dataset.gig) return

			const req = await fetch(`/data/gigs/${gigId}/${artistId}.json`)

			if (req.ok) {
				const json: ArtistGigResponse = await req.json()

				if (json.images) {
					// Give images to the image gallery
					const detail: ImageGalleryUpdateEventDetails = {
						images: json.images
					}
					const event = new CustomEvent(imageGalleryUpdateEventName, {
						detail
					})
					window.dispatchEvent(event)
				}

				if (!metaContainer) return

				const gig = json.data

				const texts: Node[] = []

				const text = document.createElement('p')
				text.setAttribute('style', 'padding:0;margin:0;')
				text.innerHTML = `title: ${gig.data.title} <a href="${getEntryPath(gig.data.title, 'gig')}">[Go to gig]</a>`
				texts.push(text)

				// Update metadata section
				for (const field in gig.data) {
					const text = document.createElement('p')
					text.setAttribute('style', 'padding:0;margin:0;')
					const value = gig.data[field]

					if (field === 'title') {
						continue
					} else if (typeof value === 'string') {
						text.innerHTML = `${field}: ${value}`
					} else if (Array.isArray(value)) {
						const valueTexts = value.map((thing) => `${thing.id.id}`)
						text.innerHTML = `${field}: ${valueTexts.join(',')}`
					} else if (typeof value === 'object') {
						text.innerHTML = `${field}: ${value.id}`
					}
					texts.push(text)
				}
				metaContainer.dataset.gig = gigId
				metaContainer.replaceChildren(...texts)
			}
		})
	}

	document.addEventListener('astro:page-load', init)
	document.addEventListener('astro:after-swap', init)
</script>
