---
/**
 * A layout with a sidebar. Mostly a wrapper for SidebarNav.
 * Makes things easier by automatically doing top and bottom margins.
 *
 * Props:
 *  - hideFooter: See BaseLayout
 *  - contentOverTopSubheader: Content overlays top subheader on desktop (sidebar still makes room)
 *  - poo: SEO gubbins
 *
 * Slots:
 *  - sidebarMenu: See SidebarNav
 *  - sidebarFixed: See SidebarNav
 *  - content: See SidebarNav
 *  - sidebarSubheaderTopMobile:  See SidebarNav
 *  - subheaderTop: See SubheadersLayout
 *  - subheaderTopMobile: See SubheadersLayout
 *  - subheaderTopDesktop: See SubheadersLayout
 */
import { theme } from '../../ThemeContract.css'
import BaseLayout from '../base/BaseLayout.astro'
import SidebarNav from 'src/components/SidebarNav.astro'
import type { Poo } from 'src/components/SEO.astro'
import {
	WithTopSubheader,
	WithBottomSubheaderMobile,
	WithTopSubheaderDesktop,
	WithTopSubheaderMobile,
	Subheader
} from 'src/components/UtilClasses.css'

interface Props {
	hideFooter?: boolean
	contentOverTopSubheader?: boolean
	hasSubheaderBottomMobile?: boolean
	hasSidebarSubheaderBottomMobile?: boolean
	poo: Poo
}

const { hideFooter, contentOverTopSubheader, hasSubheaderBottomMobile, hasSidebarSubheaderBottomMobile, poo } = Astro.props

const hasSubheaderTop = Astro.slots.has('subheaderTop')
const hasSubheaderTopMobile = Astro.slots.has('subheaderTopMobile')
const hasSubheaderTopDesktop = Astro.slots.has('subheaderTopDesktop')
const hasSidebarSubheaderTopMobile = Astro.slots.has('sidebarSubheaderTopMobile')

const contentWrapperClass = hasSubheaderTop
	? WithTopSubheader
	: hasSubheaderTopMobile
		? WithTopSubheaderMobile
		: hasSubheaderTopDesktop && !contentOverTopSubheader
			? WithTopSubheaderDesktop
			: ''
---

<BaseLayout
	className=`${contentWrapperClass} ${hasSubheaderBottomMobile ? WithBottomSubheaderMobile : ''}`
	hideFooter={hideFooter}
	hasSidebar={true}
	poo={poo}
>
	<!-- top subheader on mobile and desktop -->
	{
		hasSubheaderTop && (
			<div class={`${Subheader['top']}`}>
				<slot name="subheaderTop" />
			</div>
		)
	}
	<!-- top subheader on mobile -->
	{
		hasSubheaderTopMobile && (
			<div class={`${Subheader['topMobile']}`}>
				<slot name="subheaderTopMobile" />
			</div>
		)
	}
	<!-- top subheader on desktop -->
	{
		hasSubheaderTopDesktop && (
			<div class={`${Subheader['topDesktop']}`}>
				<slot name="subheaderTopDesktop" />
			</div>
		)
	}
	<SidebarNav
		top={hasSubheaderTopDesktop || hasSubheaderTop ? theme.dimensions.subheaderHeight : undefined}
		topMobile={hasSubheaderTopMobile || hasSubheaderTop ? theme.dimensions.headerHeightMobile : undefined}
		bottomMobile={hasSubheaderBottomMobile || hasSidebarSubheaderBottomMobile
			? theme.dimensions.headerHeightMobile
			: undefined}
		customButton={true}
	>
		<slot name="sidebarMenu" slot="sidebarMenu" />
		<slot
			name="sidebarSubheaderTopMobile"
			slot={`${hasSidebarSubheaderTopMobile ? 'sidebarSubheaderTopMobile' : ''}`}
		/>
		<slot name="content" slot="content" />
	</SidebarNav>
</BaseLayout>
