---
import GigsMenu from 'src/components/gig/GigsMenu.astro'
import ShuffleFilters from 'src/components/ShuffleFilters.astro'
import SidebarLayout from 'src/layouts/base/SidebarLayout.astro'
import Gig from 'src/layouts/collection/Gig.astro'
import { loadAndFormatCollection } from 'src/util/collection.ts'
import ChevronLeftIcon from '~icons/iconoir/nav-arrow-left'
import { backButton } from 'src/components/gig/GigsMenu.css'

export async function getStaticPaths() {
	const entries = await loadAndFormatCollection('gig')
	return entries.map((entry) => ({
		params: { slug: entry.extra.slug },
		props: {
			entry
		}
	}))
}

const { entry } = Astro.props
const entryData = entry.entry.data
const entryExtra = entry.extra
---

<SidebarLayout
	hasSidebarSubheaderBottomMobile={true}
	contentOverTopSubheader={true}
	poo={{
		title: entryData.title,
		collection: entry.entry.collection,
		description: entryExtra.metaDescription,
		image: entryExtra.cover?.src,
		date: entryData.date.toISOString()
	}}
>
	<ShuffleFilters
		slot="subheaderTopDesktop"
		search="Filter gigs by title, artist, venue"
		openSearchWithSidebar={true}
	/>
	<a slot="sidebarSubheaderTopMobile" class={`showMobile flex ${backButton}`} href="/gigs">
		<ChevronLeftIcon /> Go to gigs home
	</a>
	<GigsMenu slot="sidebarMenu" selected={entry.entry.id} transition:persist />
	<Gig entry={entry} slot="content" />
</SidebarLayout>
