---
import { loadAndFormatCollection } from '@src/util/collection'
import { Shufflers } from '@src/util/shufflers'
import { ResponsiveImage } from '@src/util/ResponsiveImage'
import SubheadersLayout from '@src/layouts/base/SubheadersLayout.astro'
import VirtualizedList from '@src/components/VirtualizedList.astro'
import { makeHash } from '@src/util/names'
import ShuffleFilters from '@src/components/ShuffleFilters.astro'
import { headerHeightMobile, theme } from '@src/Theme.css'

const artists = await loadAndFormatCollection('artist')

export interface ArtistMetadata {
	totalCount: number
	cover?: ResponsiveImage
	lastGig?: number
}

const artistShufflers = Shufflers['artist']
---

<SubheadersLayout poo={{ title: 'Artists' }} hideFooter={true}>
	<ShuffleFilters
		slot="subheaderTop"
		search={'Filter artists by name'}
		sort={artistShufflers['sort']}
		filter={artistShufflers['filter']}
	/>
	<VirtualizedList
		grid={{
			xs: 12,
			md: 4,
			lg: 2
		}}
		bottomMargin="0px"
		bottomMarginMobile={`${headerHeightMobile * 2}px`}
		rowHeight={35}
	>
		{
			artists.map((artist) => (
				<a
					href={artist.extra.absolutePath}
					id={makeHash(artist.entry.id)}
					class={`filter-item`}
					data-category={`${artist.entry.data.origin || 'Dunedin'},${!artist.entry.data.died ? 'active' : ''}`}
					data-title={artist.entry.data.title}
					data-lastgig={artist.extra.lastGig}
					data-numbergigs={artist.extra.gigCount}
				>
					<span class="artistLabel" style={{ color: artist.entry.data.died ? theme.color.dullText : null }}>
						{artist.entry.data.title} {artist.entry.data.origin ? '(' + artist.entry.data.origin + ')' : ''}
					</span>
					<span class="gigCount">{artist.extra.gigCount}</span>
				</a>
			))
		}
	</VirtualizedList>
</SubheadersLayout>

<style define:vars={{
	basePadding: theme.dimensions.basePadding,
	basePaddingMobile: theme.dimensions.basePaddingMobile,
	dullText: theme.color.dullText
}}>
	.filter-item {
		display: flex;
		align-items: center;
		content-visibility: auto;
		padding-left: var(--basePaddingMobile);
		padding-right: var(--basePaddingMobile);
		height: 35px;
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
	@media screen and (--md) {
		.filter-item {
			padding-left: var(--basePadding);
			padding-right: var(--basePadding);
		}
	}
	.artistLabel {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.gigCount {
		margin-left: auto;
		color: var(--dullText);
	}
</style>
