---
import { loadAndFormatCollection } from 'src/util/collection'
import { Shufflers } from 'src/util/shufflers'
import { ResponsiveImage } from 'src/util/ResponsiveImage'
import SubheadersLayout from 'src/layouts/base/SubheadersLayout.astro'
import { artistListItem, artistGigCount } from './Artists.css'
import VirtualizedList from 'src/components/VirtualizedList.astro'
import { makeHash } from 'src/util/names'
import ShuffleFilters from 'src/components/ShuffleFilters.astro'

const artists = await loadAndFormatCollection('artist')

export interface ArtistMetadata {
	totalCount: number
	cover?: ResponsiveImage
	lastGig?: number
}

const artistShufflers = Shufflers['artist']
---

<SubheadersLayout poo={{ title: 'Artists' }} hideFooter={true}>
	<ShuffleFilters
		slot="subheaderTop"
		search={'Filter artists by name'}
		sort={artistShufflers['sort']}
		filter={artistShufflers['filter']}
	/>
	<VirtualizedList
		grid={{
			xs: 12,
			md: 4,
			lg: 2
		}}
		rowHeight={35}
	>
		{
			artists.map((artist) => (
				<a
					href={artist.extra.absolutePath}
					id={makeHash(artist.entry.id)}
					class={`${artistListItem} ${artist.entry.data.died ? 'dead' : ''}`}
					data-category={`${artist.entry.data.origin || 'Dunedin'},${!artist.entry.data.died ? 'active' : ''}`}
					data-title={artist.entry.data.title}
					data-lastgig={artist.extra.lastGig}
					data-numbergigs={artist.extra.gigCount}
				>
					{artist.entry.data.title} {artist.entry.data.origin ? '(' + artist.entry.data.origin + ')' : ''}
					<span class={`${artistGigCount}`}>{artist.extra.gigCount}</span>
				</a>
			))
		}
	</VirtualizedList>
</SubheadersLayout>
