---
import FlexGridContainer from 'src/components/FlexGridContainer.astro'
import { loadAndFormatCollection } from 'src/util/collection'
import { ResponsiveImage } from 'src/util/ResponsiveImage'
import omIcon from 'src/assets/otepotimusic.png'
import Tile from 'src/components/Tile.astro'
import ShuffleFilters from 'src/components/ShuffleFilters.astro'
import SearchBox from 'src/components/SearchBox.astro'
import SubheadersLayout from 'src/layouts/base/SubheadersLayout.astro'
import SortIcon from '~icons/bx/sort'

const artists = await loadAndFormatCollection('artist')

export interface ArtistMetadata {
	totalCount: number
	cover?: ResponsiveImage
	lastGig?: number
}

let origins: { [key: string]: number } = {}

// Get the origins list for the dropdown
for (const artist of artists) {
	const origin = artist.entry.data.origin || 'Dunedin'
	if (!origins[origin]) origins[origin] = 0
	origins[origin]++
}
---

<SubheadersLayout poo={{ title: 'Artists' }}>
	<ShuffleFilters slot="subheaderTop" itemselector=".tile" boardselector="#artist-grid">
		<SearchBox className="hideMobile" placeholder="Filter artists by name" />
		<div class="filterGroup">
			<div>
				<label><SortIcon /></label>
				<div class="buttonGroup">
					<button data-sortby="title"> Title </button>
					<button data-sortby="lastgig" data-reversesort="true"> Last Played </button>
					<button data-sortby="numbergigs" data-reversesort="true"> Most Gigs </button>
				</div>
			</div>
			<div>
				<label>
					<input name="hideInactive" type="checkbox" data-filter="active=true" />
					Hide inactive
				</label>
			</div>
			<div class="hideMobile">
				<select name="countries" data-filter="origin=value">
					<option value={'all'}>All origins ({artists.length})</option>
					{
						origins &&
							Object.keys(origins).map((country) => (
								<option value={country}>
									{country} ({origins[country]})
								</option>
							))
					}
				</select>
			</div>
		</div>
	</ShuffleFilters>
	<FlexGridContainer grid={{ xs: 6, md: 3, lg: 2 }} id="artist-grid" fixedWidth={true} style={{minHeight: "80vh"}}>
		<Tile
			href="http://otepotimusic.com"
			image={omIcon.src}
			label={'Discover more music from local artists'}
			containerHeight={'15vh'}
			className='whiteBorder'
			dataAttributes={{
				'data-title': '((._',
				'data-numbergigs': 1000,
				'data-active': 'true',
				'data-origin': 'Dunedin'
			}}
		/>
		{
			artists.map((artist) => (
				<Tile
					href={artist.extra.absolutePath}
					responsiveImage={artist.extra.cover}
					responsiveImageSizes={'smallGrid'}
					title={artist.entry.data.title + (artist.entry.data.origin ? ` (${artist.entry.data.origin})` : '')}
					label={`${artist.extra.gigCount} gig${artist.extra.gigCount > 1 ? 's' : ''}`}
					containerHeight={'15vh'}
					backgroundStyle="full"
					dataAttributes={{
						'data-title': artist.entry.data.title,
						'data-machinename': artist.entry.id,
						'data-lastgig': artist.extra.lastGig || 0,
						'data-numbergigs': artist.extra.gigCount || 0,
						'data-active': artist.entry.data.died === undefined ? 'true' : 'false',
						'data-origin': artist.entry.data.origin || 'Dunedin'
					}}
				/>
			))
		}
	</FlexGridContainer>
	<ShuffleFilters slot="subheaderBottomMobile" itemselector=".tile" boardselector="#artist-grid">
		<SearchBox placeholder="Filter artists by name" />
	</ShuffleFilters>
</SubheadersLayout>
