---
import BaseLayout from '../layouts/BaseLayout.astro'
import { loadAndFormatCollection } from 'src/util/collection'
import Map from 'src/components/venue/Map.astro'
import ShuffleFilters from 'src/components/ShuffleFilters.astro'
import ActiveIndicator from 'src/components/ActiveIndicator.astro'
import SocialLinks from 'src/components/SocialLinks.astro'
import SidebarNav from 'src/components/SidebarNav.astro'
import EntryMenu from 'src/components/EntryMenu.astro'
import { theme } from 'src/Theme.css'

const venues = await loadAndFormatCollection('venue')

const markers = venues.map((venue) => ({
	coords: [venue.entry.data.lng, venue.entry.data.lat],
	class: venue.entry.data.died === undefined ? undefined : 'dead-marker'
}))
---

<BaseLayout hideFooter={true}>
	<ShuffleFilters itemselector=".sidebar-item" boardselector="#sidebar-menu">
		<div>
			<span>Search: </span>
			<input type="text" data-filter="title=value" placeholder="Search venues" />
		</div>
		<div>
			<label>
				<input name="hideInactive" type="checkbox" data-filter="active=true" />
				Hide dead
			</label>
			<label>
				<input name="hideActive" type="checkbox" data-filter="active=false" />
				Hide alive
			</label>
		</div>
	</ShuffleFilters>
	<SidebarNav top={theme.dimensions.headerHeightWithSubheader}>
		<EntryMenu collection="venue" slot="sidebar" />
		<div slot="content">
			<Map markers={markers}>
				<div slot="popups">
					{
						venues.map((venue) => (
							<div class="popup">
								<h3>{venue.entry.data.title}</h3>
								<p style={{ marginTop: '0', marginBottom: '10px' }}>
									<ActiveIndicator died={venue.entry.data.died} born={venue.entry.data.date} inactiveText={'Defunct'} />
								</p>
								<a title={venue.entry.data.title} href={venue.extra.absolutePath}>
									See gigs at this venue
								</a>
								<SocialLinks links={venue.entry.data.links} />
							</div>
						))
					}
				</div>
			</Map>
		</div>
	</SidebarNav>
</BaseLayout>

<style is:global>
	div.dead-marker:before {
		content: 'âœ';
		color: white;
		font-size: 2.5em;
	}
</style>
