---
import BaseLayout from '../layouts/BaseLayout.astro'
import { loadAndFormatCollection } from 'src/util/collection'
import { MenuLi, MenuLink, MenuWrapper } from 'src/components/Menu.css'
import Map from 'src/components/Map.astro'
import ShuffleFilters from 'src/components/ShuffleFilters.astro'
import ActiveIndicator from 'src/components/ActiveIndicator.astro'
import SocialLinks from 'src/components/SocialLinks.astro'

const venues = await loadAndFormatCollection('venue')

const markers = venues.map((venue) => ({
	coords: [venue.entry.data.lng, venue.entry.data.lat],
	class: venue.entry.data.died === undefined ? undefined : 'dead-marker'
}))
---

<BaseLayout hideFooter={true}>
	<ShuffleFilters itemselector=".sidebar-item" boardselector="#sidebar-menu" hasSidebar={true}>
		<div>
			<span>Search: </span>
			<input type="text" data-filter="title=value" placeholder="Search venues" />
		</div>
		<div>
			<label>
				<input name="hideInactive" type="checkbox" data-filter="active=true" />
				Hide dead
			</label>
			<label>
				<input name="hideActive" type="checkbox" data-filter="active=false" />
				Hide alive
			</label>
		</div>
	</ShuffleFilters>
	<Map data-markers={JSON.stringify(markers)}>
		<div slot="popups">
			{
				venues.map((venue) => (
					<div class="popup">
						<h3>{venue.entry.data.title}</h3>
						<p style={{ marginTop: '0', marginBottom: '10px' }}>
							<ActiveIndicator died={venue.entry.data.died} born={venue.entry.data.date} />
						</p>
						<a title={venue.entry.data.title} href={venue.extra.absolutePath}>
							See gigs at this venue
						</a>
						<SocialLinks links={venue.entry.data.links} />
					</div>
				))
			}
		</div>
		<ul slot="sidebar" id="sidebar-menu" class={MenuWrapper}>
			{
				venues.map((venue, i) => (
					<li
						data-title={venue.entry.data.title}
						data-active={venue.entry.data.died === undefined ? 'true' : 'false'}
						class={`sidebar-item ${MenuLi['vertical']}`}
					>
						<a class={MenuLink['vertical']} data-markerindex={i}>
							{venue.entry.data.title}
							<div style={{ position: 'absolute', right: '5px', top: '0px' }}>
								<ActiveIndicator died={venue.entry.data.died} hideText={true} />
							</div>
						</a>
					</li>
				))
			}
		</ul>
	</Map>
</BaseLayout>

<style is:global>
	div.dead-marker:before {
		content: 'âœ';
		color: white;
		font-size: 2.5em;
	}
</style>
