---
import { loadAndFormatCollection } from 'src/util/collection'
import Map from 'src/components/venue/Map.astro'
import ShuffleFilters from 'src/components/ShuffleFilters.astro'
import ActiveIndicator from 'src/components/ActiveIndicator.astro'
import SocialLinks from 'src/components/SocialLinks.astro'
import EntryMenu from 'src/components/EntryMenu.astro'
import Image2 from 'src/components/Image2.astro'
import SearchBox from 'src/components/SearchBox.astro'
import SidebarLayout from 'src/layouts/base/SidebarLayout.astro'

const venues = await loadAndFormatCollection('venue')

const markers = venues.map((venue) => ({
	coords: [venue.entry.data.lng, venue.entry.data.lat],
	class: venue.entry.data.died === undefined ? undefined : 'dead-marker'
}))
---

<SidebarLayout hideFooter={true} poo={{ title: 'Venues' }}>
	<ShuffleFilters slot="subheaderTop" itemselector=".sidebar-item" boardselector="#shuffle-menu">
		<SearchBox className="hideMobile" placeholder="Search venues" />
		<div class="filterGroup">
			<label>
				<input name="hideInactive" type="checkbox" data-filter="active=true" />
				Hide dead
			</label>
			<label>
				<input name="hideActive" type="checkbox" data-filter="active=false" />
				Hide alive
			</label>
		</div>
	</ShuffleFilters>
	<EntryMenu collection="venue" slot="sidebarMenu" transition:name={'venues'} transition:persist />
	<Map markers={markers} slot="content">
		<div slot="popups">
			{
				venues.map((venue) => (
					<div class="popup">
						<h3 class="center" style={{ marginBottom: '0' }}>
							{venue.entry.data.title}
						</h3>
						<p class="center" style={{ marginTop: '0', marginBottom: '10px' }}>
							<ActiveIndicator died={venue.entry.data.died} born={venue.entry.data.date} inactiveText={'Defunct'} />
						</p>
						<SocialLinks links={venue.entry.data.links} />
						{venue.extra.cover && (
							<a title={venue.entry.data.title} href={venue.extra.absolutePath}>
								<Image2 responsiveImage={venue.extra.cover} />
							</a>
						)}
						<p class="center">
							<a title={venue.entry.data.title} href={venue.extra.absolutePath}>
								See gigs at this venue
							</a>
						</p>
					</div>
				))
			}
		</div>
	</Map>
	<ShuffleFilters
		slot="subheaderBottomMobile"
		className="fullWidth"
		itemselector=".sidebar-item"
		boardselector="#shuffle-menu"
	>
		<SearchBox placeholder=`Search venues` />
	</ShuffleFilters>
</SidebarLayout>

<style is:global>
	div.dead-marker:before {
		content: 'âœ';
		color: white;
		font-size: 2.5em;
	}
</style>
