---
import BaseLayout from '../layouts/BaseLayout.astro'
import { loadAndFormatCollection } from 'src/util/collection'
import { MenuLi, MenuLink, MenuWrapper } from 'src/components/Menu.css'
import Map from 'src/components/Map.astro'
import ShuffleFilters from 'src/components/ShuffleFilters.astro'

const venues = await loadAndFormatCollection('venue')

const markers = venues.map((venue) => [venue.entry.data.lng, venue.entry.data.lat])
const popups = venues.map((venue) => `<h3>${venue.entry.data.title}</h3>`)
---

<BaseLayout>
	<ShuffleFilters data-itemselector=".venue" data-boardselector="#venues">
		<div style={{position: 'relative', left: '400px'}}>
			<span>Search: </span>
			<input type="text" data-filter="title=value" placeholder="Search artists" />
		</div>
	</ShuffleFilters>
	<Map data-markers={JSON.stringify(markers)} data-popups={JSON.stringify(popups)}>
		<ul id="venues" class={MenuWrapper}>
			{
				venues.map((venue, i) => (
					<li class="venue" data-title={venue.entry.data.title} class={MenuLi['vertical']}>
						<a class={MenuLink['vertical']} data-markerindex={i}>
							{venue.entry.data.title}
						</a>
					</li>
				))
			}
		</ul>
	</Map>
</BaseLayout>
