---
/**
 * Indicator used site-wide to indicate activeness of an artist/venue.
 */
import { activeIcon, defunctIcon } from './ActiveIndicator.css'

interface Props {
	died?: Date
	born?: Date
	collection?: string
}

const { died, born, collection } = Astro.props
---

<!-- we only want to show "active" status on venues -->{
	died === undefined && born && collection !== 'artist' && (
		<h4 class={activeIcon} title="Active">
			Active since {born.getFullYear()}
		</h4>
	)
}
{
	died !== undefined && (
		<h4 class={defunctIcon} title="Defunct">
			{died.getFullYear() !== 1600
				? !born
					? `Defunct since ${died.getFullYear()}`
					: `Active ${born.getFullYear()} to ${died.getFullYear()}`
				: 'Defunct'}
		</h4>
	)
}

<style>
	h4 {
		display: inline-block;
		margin-bottom: 0;
	}
</style>
