---
/**
 * Indicator used site-wide to indicate activeness of an artist/venue.
 */
import { activeIcon, defunctIcon } from './ActiveIndicator.css'

interface Props {
	died?: Date
	born?: Date
	hideText?: Boolean
	inactiveText?: String
}

const { died, born, hideText, inactiveText } = Astro.props
---

{
	died === undefined && (
		<span class={activeIcon} title="Active">
			⬤ {!hideText && <h4>{!born ? 'Active' : `Active since ${born.getFullYear()}`}</h4>}
		</span>
	)
}
{
	died !== undefined && (
		<span class={defunctIcon} title="Defunct">
			⬤{' '}
			{!hideText && (
				<h4>
					{died.getFullYear() !== 1600
						? !born
							? `${inactiveText} since ${died.getFullYear()}`
							: `Active ${born.getFullYear()} to ${died.getFullYear()}`
						: inactiveText}
				</h4>
			)}
		</span>
	)
}

<style>
	h4 {
		display: inline-block;
		margin-bottom: 0;
		color: inherit !important;
	}
</style>
