---
import { activeIcon, defunctIcon } from './ActiveIndicator.css'

interface Props {
	died: Date
	born?: Date
	hideText?: Boolean
	inactiveText?: String
}

const { died, born, hideText, inactiveText } = Astro.props
---

{
	died === undefined && (
		<span class={activeIcon} title="Active">
			⬤ {!hideText && (!born ? 'Active' : `Active since ${born.toLocaleDateString()}`)}
		</span>
	)
}
{
	died !== undefined && (
		<span class={defunctIcon} title="Defunct">
			⬤{' '}
			{!hideText &&
				(died.getFullYear() !== 1600
					? !born
						? `${inactiveText} since ${died.getFullYear()}`
						: `Active ${born.toLocaleDateString()} to ${died.getFullYear()}`
					: inactiveText)}
		</span>
	)
}
