---
/**
 * A responsive image displayed in the background.
 *
 * Props:
 *  - responsiveImage: the image to display
 *  - verticalImage (optional):  image to display on vertical screens.
 *  - responsiveImageSizes (optional): By default it will assume full width. You can tell it otherwise.
 *  - hideMobile (optional): If true it will be hidden on mobile.
 */
import type { ResponsiveImage } from 'src/util/ResponsiveImage'
import { backgroundImageWrapper } from './BackgroundImage.css'
import Image2, { type ResponsiveImageSizes } from './Image2.astro'

interface Props {
	responsiveImage: ResponsiveImage
	verticalImage?: ResponsiveImage
	responsiveImageSizes?: keyof ResponsiveImageSizes
	hideMobile?: boolean
	objectFit?: string
	loading?: 'lazy' | 'eager'
}

const {
	verticalImage,
	responsiveImage,
	responsiveImageSizes = 'full',
	hideMobile,
	objectFit = 'cover',
	loading = 'lazy'
} = Astro.props
---

<div class={`${backgroundImageWrapper} ${verticalImage ? 'hasVertical' : ''} ${hideMobile ? 'hideMobile' : ''}`}>
	<Image2
		size={responsiveImageSizes}
		objectFit={objectFit}
		responsiveImage={responsiveImage}
		loading={loading}
		className="backgroundImage"
	/>
	{
		verticalImage && (
			<Image2
				size={responsiveImageSizes}
				responsiveImage={verticalImage}
				objectFit={objectFit}
				loading={loading}
				className="backgroundImageVertical"
			/>
		)
	}
</div>
