---
/**
 * A responsive image displayed in the background.
 *
 * Props:
 *  - responsiveImage: the image to display
 *  - verticalImage (optional):  image to display on vertical screens.
 *  - sizes (optional): By default it will assume full width. You can tell it otherwise.
 */
import type { ResponsiveImage } from 'src/util/ResponsiveImage'
import { backgroundImageWrapper } from './BackgroundImage.css'
import Image2, { type ResponsiveImageSizes } from './Image2.astro'

interface Props {
	responsiveImage: ResponsiveImage
	verticalImage?: ResponsiveImage
	responsiveImageSizes?: keyof ResponsiveImageSizes
	loading?: 'lazy' | 'eager'
}

const { verticalImage, responsiveImage, responsiveImageSizes = 'full', loading = 'lazy' } = Astro.props
---

<div class={`${backgroundImageWrapper} ${verticalImage ? 'hasVertical' : ''}`}>
	<Image2 size={responsiveImageSizes} responsiveImage={responsiveImage} loading={loading} className="backgroundImage"/>
	{verticalImage && <Image2 size={responsiveImageSizes} responsiveImage={verticalImage} loading={loading} className='backgroundImageVertical'/>}
</div>
