---
/**
 * A responsive image displayed in the background.
 *
 * Props:
 *  - responsiveImage: one or more images to display
 *  - verticalImage (optional): one or more images to display on vertical screens.
 *  - responsiveImageSizes (optional): By default it will assume full width. You can tell it otherwise.
 *  - hideMobile (optional): If true it will be hidden on mobile.
 */
import type { ResponsiveImage } from 'src/util/ResponsiveImage'
import { backgroundImageWrapper } from './BackgroundImage.css'
import Image2, { type ResponsiveImageSizes } from './Image2.astro'

interface Props {
	responsiveImage: ResponsiveImage[]
	verticalImage?: ResponsiveImage[]
	responsiveImageSizes?: keyof ResponsiveImageSizes
	hideMobile?: boolean
	objectFit?: string
	objectPosition?: string
	loading?: 'lazy' | 'eager'
}

const {
	verticalImage,
	responsiveImage,
	responsiveImageSizes = 'full',
	hideMobile,
	objectFit = 'cover',
	objectPosition = 'center',
	loading = 'lazy'
} = Astro.props
---

<div class={`${backgroundImageWrapper} ${verticalImage ? 'hasVertical' : ''} ${hideMobile ? 'hideMobile' : ''}`}>
	{
		responsiveImage.map((image) => (
			<Image2
				size={responsiveImageSizes}
				objectFit={objectFit}
				objectPosition={objectPosition}
				responsiveImage={image}
				loading={loading}
				className="backgroundImage"
			/>
		))
	}
	{
		verticalImage?.map((image) => (
			<Image2
				size={responsiveImageSizes}
				responsiveImage={image}
				objectFit={objectFit}
				objectPosition={objectPosition}
				loading={loading}
				className="backgroundImageVertical"
			/>
		))
	}
</div>
