---
import type { ResponsiveImage } from 'src/util/image'
import BackgroundImage from './BackgroundImage.astro'
import { BannerWrapper, BackgroundContent, BannerTitle, BannerContent, bannerHeight } from './Banner.css'
import { assignInlineVars } from '@vanilla-extract/dynamic'

interface Props {
	id?: string
	title: string
	height?: string
	backgroundImage?: ResponsiveImage
	backgroundImageVertical?: ResponsiveImage
}

const { title, id, height, backgroundImage, backgroundImageVertical } = Astro.props
---

<div
	class={`${BannerWrapper} banner`}
	id={id}
	style={assignInlineVars({
		[bannerHeight]: height
	})}
>
	{backgroundImage && <BackgroundImage responsiveImage={backgroundImage} verticalImage={backgroundImageVertical} />}
	<div class={BannerContent}>
		<div class={BannerTitle}>
			<h1 style={{ marginBottom: '0px' }}>{title}</h1>
		</div>
		<div style={{ border: '2px inset', backgroundColor: "black" }}>
			<slot name="subtitle" />
			<slot />
		</div>
	</div>
	<div class={BackgroundContent}>
		<slot name="background" />
	</div>
	<slot name="customContent" />
</div>
