---
/**
 * A banner intended for the top of a page.
 * Props:
 *  - title (optional): Title displayed over background
 *  - height (optional): height of the banner
 *  - backgroundImage (optional): image behind everything
 *  - backgroundImageVertical (optional): image behind everything
 *
 * Slots:
 *  - default: content displayed in titlebox
 *  - background: content displayed behind everything
 *  - customContent: arbitrary content displayed anywhere
 */
import type { ResponsiveImage } from 'src/util/ResponsiveImage'
import BackgroundImage from './BackgroundImage.astro'
import {
	BannerWrapper,
	BackgroundContent,
	BannerTitle,
	BannerContent,
	bannerHeight,
	marginBottom,
	marginBottomMobile
} from './Banner.css'
import { assignInlineVars } from '@vanilla-extract/dynamic'

interface Props {
	id?: string
	title?: string
	height?: string
	bottomMargin?: string
	bottomMarginMobile?: string
	backgroundImage?: ResponsiveImage
	backgroundImageVertical?: ResponsiveImage
}

const { title, id, height, bottomMargin, bottomMarginMobile, backgroundImage, backgroundImageVertical } = Astro.props
---

<div
	class={`${BannerWrapper} banner`}
	id={id}
	style={assignInlineVars({
		[bannerHeight]: height,
		[marginBottom]: bottomMargin,
		[marginBottomMobile]: bottomMarginMobile
	})}
>
	<div class={BannerContent}>
		{
			title && (
				<div class={BannerTitle}>
					<h1 style={{ marginBottom: '0px' }}>{title}</h1>
				</div>
			)
		}
		<div class="titleContent"><slot /></div>
	</div>
	<div class={BackgroundContent}>
		<slot name="background">
			{backgroundImage && <BackgroundImage responsiveImage={backgroundImage} verticalImage={backgroundImageVertical} />}
		</slot>
	</div>
	<slot name="customContent" />
</div>

<style>
	.titleContent:not(:empty) {
		border: 2px inset;
		background-color: black;
	}
</style>
