---
/**
 * Displays all content associated with a particular venue/artist.
 *
 * Props:
 *  - entry: The entry.
 *
 * Slots:
 *  - banner: Content to put in the banner instead of the cover image.
 */
import FlexGridContainer from 'src/components/FlexGridContainer.astro'
import { loadAndFormatCollection, loadAndFormatEntry, type ProcessedEntry } from 'src/util/collection'
import Tile from 'src/components/Tile.astro'
import DropdownMenu from 'src/components/DropdownMenu'
import Divider from 'src/components/Divider.astro'
import ContentTabs from 'src/components/ContentTabs.astro'
import Banner from 'src/components/Banner.astro'
import ActiveIndicator from 'src/components/ActiveIndicator.astro'
import { theme } from 'src/Theme.css'
import SocialLinks from 'src/components/SocialLinks.astro'
import ImageGallery from 'src/components/ImageGallery.astro'
import GigTile from 'src/components/gig/GigTile.astro'
import { contentByEntryTitle, descriptionWrapper } from './ContentByEntry.css'
import CornerLabel from './gig/CornerLabel.astro'
import { formattedDate } from 'src/util/names'

interface Props {
	entry: ProcessedEntry<'artist'> | ProcessedEntry<'venue'> | ProcessedEntry<'series'>
}

const { entry } = Astro.props

const gigs = await loadAndFormatCollection('gig', (thing) => {
	const matchByArtist = thing.entry.data.artists?.find((artist) => artist.id.id === entry.entry.id)
	const matchByVenue = thing.entry.data.venue.id === entry.entry.id
	const matchBySeries = thing.entry.data.series?.id === entry.entry.id
	return matchByArtist || matchByVenue || matchBySeries
})

const gigsByYear = Object.groupBy(gigs, (gig) => gig.entry.data.date.getFullYear())

const gigsYearDropdownItems = Object.entries(gigsByYear)
	.reverse()
	.map(([year, gigs]) => ({
		year: year,
		count: gigs?.length || 0
	}))

// Find related blogs
const blogs = await loadAndFormatCollection('blog', (thing) => {
	const matchByArtist = thing.entry.data.relatedArtists?.find((artist) => artist.id === entry.entry.id)
	const matchByVenue = thing.entry.data.relatedVenues?.find((venue) => venue.id === entry.entry.id)
	return matchByArtist || matchByVenue
})

// Find related vaultsessions
const vaultSessions = await loadAndFormatCollection('vaultsession', (thing) => {
	const matchByArtist = thing.entry.data.artist.id === entry.entry.id
	return matchByArtist
})

const entryData = entry.entry.data
const entryExtra = entry.extra

const images = entryExtra.images

let tabs = [{ title: `Gigs (${gigs.length})`, id: 'gigs' }]
blogs.length > 0 && tabs.push({ title: `Articles (${blogs.length})`, id: 'blogs' })
images && Object.keys(images).length > 0 && tabs.push({ title: `Images (${Object.keys(images).length})`, id: 'images' })
vaultSessions.length > 0 && tabs.push({ title: `VAULT SESSION`, id: 'vaultsessions' })

// Find other entries which reference this one as an alias (it was once them)
const previouslyKnownAs = await loadAndFormatCollection(
	entry.entry.collection,
	(thing) => 'aliases' in thing.entry.data && thing.entry.data.aliases?.find((alias) => alias.id === entry.entry.id)
)

// Load this entries aliases (it will become them)
const willBeKnownAs =
	'aliases' in entryData &&
	entryData.aliases &&
	(await Promise.all(
		entryData.aliases.map(async (thing) => await loadAndFormatEntry(entry.entry.collection, thing.id))
	))

const hasBanner = Astro.slots.has('banner')
const hasAudioculture = entryData.links && 'audioculture' in entryData.links
---

<Banner
	title={entryData.title + ('origin' in entryData ? ` (${entryData.origin})` : '')}
	id="top"
	backgroundImage={entryExtra.cover}
	bottomMargin={`calc(${theme.dimensions.subheaderHeightNegative} * 2)`}
>
	<!-- all ages and active indicator -->
	<div slot="title" class={contentByEntryTitle}>
		{
			('date' in entryData || 'died' in entryData) && (
				<ActiveIndicator
					born={entryData.date}
					died={entryData.died}
					collection={entry.entry.collection}
				/>
			)
		}
	</div>
	<!-- social links -->
	<CornerLabel slot="customContent">
		{entryData.links && <SocialLinks links={entryData.links} />}
	</CornerLabel>
	<!-- description/audioculture quote and was link -->
	<Fragment slot={entryData.description || hasAudioculture || !!previouslyKnownAs.length ? 'subtitle' : ''}>
		{
			!!previouslyKnownAs.length && (
				<h4 style={{ margin: 0 }}>
					Previously at this location
					{previouslyKnownAs.map((thing) => (
						<a href={thing.extra.absolutePath}>{thing.entry.data.title}</a>
					))}
				</h4>
			)
		}
		{
			entryData.description && (
				<p class={descriptionWrapper}>
					<Fragment set:html={entryData.description} />
				</p>
			)
		}
		{
			hasAudioculture && (
				<blockquote cite={entryData.links?.audioculture?.link}>
					"{entryData.links?.audioculture?.snippet}" -{' '}
					<a
						href={entryData.links?.audioculture?.link}
						title={`Read about ${entryData.title} at Audioculture`}
						target="_blank"
					>
						Audioculture
					</a>
				</blockquote>
			)
		}
	</Fragment>
	<slot name="banner" slot={hasBanner ? 'background' : ''} />
</Banner>
<Divider
	sticky={true}
	className="noShadow"
	href="#top"
	backgroundColor={theme.color.primary}
	color={theme.color.text}
	height={theme.dimensions.subheaderHeight}
	zIndex={'7'}
>
	<h3 style={{ marginBottom: 0, textAlign: 'right' }}>{entryData.title}</h3>
</Divider>
<ContentTabs tabs={tabs}>
	<div data-tabid="gigs">
		<DropdownMenu
			direction="down"
			top={theme.dimensions.subheaderHeight}
			list={gigsYearDropdownItems.map((item) => ({ title: `${item.year} (${item.count})`, hash: `y${item.year}` }))}
			client:load
		/>
		{
			willBeKnownAs &&
				willBeKnownAs.map((thing) => (
					<Tile
						responsiveImage={thing.extra.cover}
						backgroundStyle="center"
						href={thing.extra.absolutePath}
						containerHeight="30vh"
					>
						{'died' in thing.entry.data && (
							<h4 class="center" style={{ marginBottom: 0, color: 'white' }}>
								At this location from {entryData.died?.getFullYear()}
								{thing.entry.data.died ? ` to ${thing.entry.data.died?.getFullYear()}` : ' to present'}
							</h4>
						)}
						<h3 class="center" style={{ marginBottom: 0 }}>
							{thing.entry.data.title}
						</h3>
						<h4 class="center">{thing.extra.gigCount} gigs</h4>
					</Tile>
				))
		}
		{
			Object.entries(gigsByYear)
				.reverse()
				.map(([year, gigs]) => (
					<div id={`y${year}`}>
						<Divider href={`#y${year}`} sticky={true} top={theme.dimensions.subheaderHeight} smoothScroll={true}>
							{year} ({gigs?.length})
						</Divider>
						<FlexGridContainer grid={gigs && gigs.length <= 4 ? { xs: 12, md: 6 } : { xs: 12, md: 6, lg: 3 }}>
							{gigs?.map((gig) => (
								<GigTile gig={gig} backgroundStyle="center" responsiveImageSizes={gigs.length <= 4 ? 'full' : 'grid'} />
							))}
						</FlexGridContainer>
					</div>
				))
		}
		{
			!!previouslyKnownAs.length &&
				previouslyKnownAs.map((thing) => (
					<Tile
						responsiveImage={thing.extra.cover}
						backgroundStyle="center"
						href={thing.extra.absolutePath}
						containerHeight="30vh"
					>
						{'date' in thing.entry.data && (
							<h4 class="center" style={{ marginBottom: 0, color: 'white' }}>
								At this location {thing.entry.data.date?.getFullYear() || 'up'} to{' '}
								{thing.entry.data.died?.getFullYear()}
							</h4>
						)}
						<h3 class="center" style={{ marginBottom: 0 }}>
							{thing.entry.data.title}
						</h3>
						<h4 class="center">{thing.extra.gigCount} gigs</h4>
					</Tile>
				))
		}
	</div>
	<div data-tabid="blogs">
		<FlexGridContainer grid={{ xs: 12, md: 6, lg: 3 }}>
			{
				blogs.map((blog) => (
					<Tile
						href={blog.extra.absolutePath}
						title={blog.entry.data.title}
						label={formattedDate(blog.entry.data.date)}
						responsiveImage={blog.extra.cover}
						responsiveImageSizes={'grid'}
						backgroundStyle="center"
					/>
				))
			}
		</FlexGridContainer>
	</div>
	{
		images && (
			<div data-tabid="images">
				<ImageGallery images={Object.values(images)} />
			</div>
		)
	}
	<div data-tabid="vaultsessions">
		<FlexGridContainer grid={{ xs: 12, md: 6, lg: 3 }}>
			{
				vaultSessions.map((vaultsession) => (
					<Tile
						href={vaultsession.extra.absolutePath}
						title={vaultsession.entry.data.title}
						label={formattedDate(vaultsession.entry.data.date)}
						responsiveImage={vaultsession.extra.cover}
						responsiveImageSizes={'grid'}
						backgroundStyle="center"
					/>
				))
			}
		</FlexGridContainer>
	</div>
</ContentTabs>
