---
/**
 * A menu displaying all entries of a certain type.
 * Used on content by entry pages to aid navigation.
 *
 * Props:
 *  - collection: the collection to display entries from.
 *  - selected: the current entry. Will highlight it if supplied.
 */
import { loadAndFormatCollection } from 'src/util/collection'
import { MenuLi, MenuLinkWrapper, MenuWrapper } from 'src/components/Menu.css'
import ActiveIndicator from 'src/components/ActiveIndicator.astro'
import type { CollectionKey } from 'astro:content'

interface Props {
	collection: CollectionKey
	selected?: string
}

const { selected, collection } = Astro.props

const entries = await loadAndFormatCollection(collection)
---

{
	selected && (
		<a class="showMobile" href={`/${collection}s`}>
			<button>Back to {collection}s home</button>
		</a>
	)
}

<ul id="sidebar-menu" class={MenuWrapper['vertical']}>
	{
		entries.map((entry, i) => (
			<li
				data-title={entry.entry.data.title}
				data-active={'died' in entry.entry.data && entry.entry.data.died === undefined ? 'true' : 'false'}
				class={`sidebar-item ${MenuLi['vertical']} ${entry.entry.id === selected ? 'active' : ''}`}
			>
				<a
					class={MenuLinkWrapper['vertical']}
					data-markerindex={i}
					href={selected ? entry.extra.absolutePath : undefined}
			>
					{entry.entry.data.title}
					<div style={{ position: 'absolute', right: '5px', top: '0px' }}>
						<ActiveIndicator died={'died' in entry.entry.data ? entry.entry.data.died : undefined} hideText={true} />
					</div>
				</a>
			</li>
		))
	}
</ul>
