---
/**
 * A simple menu with links to hrefs.
 *
 * Props:
 *  - links: an array of MenuLink objects.
 *  - menuType (optional): how to display the menu, defaults to horizontal.
 *
 * Menu links:
 *  - can specify a title or an image. if both are present it will prefer the image.
 *  - also can use a number of preset icons.
 *  - sidebarOnActive (optional): If true, thiis link will open a sidebar on mobile when active.
 *
 * @param props
 * @returns
 */

import HomeIcon from '~icons/bx/home'
import { sidebarButtonWrapper } from './SidebarNav.css'
import { MenuLinkWrapper, MenuLi, MenuWrapper } from './Menu.css'

type PresetIcons = 'home'

export interface MenuLink {
	title?: string
	href: string
	image?: string
	id?: string
	class?: string
	icon?: PresetIcons
	sidebarOnActive?: boolean
}

interface Props {
	links: MenuLink[]
	menuType?: 'horizontal' | 'vertical' | 'sideways'
}

const currentPath = new URL(Astro.request.url).pathname

export const isActive = (href: string, currentPath: string) => {
	if (!currentPath) {
		return ''
	}

	const isItActive = href == '/' ? currentPath == href : currentPath.includes(href)
	return isItActive ? 'active' : ''
}

const { links, menuType = 'horizontal' } = Astro.props
---

<ul class={MenuWrapper[menuType]}>
	{
		links.map((link) => {
			const activeClass = isActive(link.href, currentPath)
			const sidebarButtonClass = link.sidebarOnActive && activeClass ? 'sidebar-button' : ''
			return (
				<li class={`${MenuLi[menuType]} ${link.class || ''}`}>
					<a
						class={`${MenuLinkWrapper[menuType]} ${activeClass} ${sidebarButtonClass ? sidebarButtonWrapper['base'] : ''}`}
						href={sidebarButtonClass ? undefined : link.href}
						title={link.title}
						id={`${sidebarButtonClass || link.id}`}
					>
						{!link.image && link.title}
						{link.image && <img src={link.image} />}
						{link.icon && link.icon === 'home' ? <HomeIcon /> : ''}
					</a>
				</li>
			)
		})
	}
</ul>
