---
import fbIcon from '../assets/fb-icon.png'
import instaIcon from '../assets/instagram-icon.png'
import youtubeIcon from '../assets/youtube-icon.png'
import { footerContent, footerWrapper } from './SiteFooter.css'
---

<div class={footerWrapper}>
	<div class={footerContent}>
		<p>
			A permanent and non-commercial media archive for gigs in Ōtepoti since 2014.<br />
			<a href="/page/info/" title="Info">More Info</a>
		</p>
		<div id="footer-social-icons">
			<a title="Facebook" target="_blank" rel="noopener" href="https://facebook.com/dunedinsound/">
				<img src={fbIcon.src} width="50" height="50" alt="Facebook" />
			</a>
			<a title="Instagram" target="_blank" rel="noopener" href="https://instagram.com/dunedinsound/">
				<img src={instaIcon.src} width="50" height="50" alt="Instagram" />
			</a>
			<a title="YouTube" target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCcou-Lq6d-AMOkg2UKVEhhg">
				<img src={youtubeIcon.src} width="50" height="50" alt="YouTube" />
			</a>
		</div>
	</div>
</div>
