---
import Menu from './Menu.tsx'
import { headerWrapper, headerMobile, header, brand } from './SiteHeader.css'

const links = [
	{ title: 'Home', href: '/' },
	{ title: 'Gigs', href: '/gigs' },
	{ title: 'Artists', href: '/artists' },
	{ title: 'Venues', href: '/venues' },
	{ title: 'Articles', href: '/blog' },
	{ title: 'VAULT', href: '/vaultsessions' }
]

const currentPath = new URL(Astro.request.url).pathname
---

<div class={headerWrapper}>
	<div class={headerMobile}>
		<Menu currentPath={currentPath} links={links} menuType={'horizontal'} />
	</div>
	<div class={header}>
		<Menu currentPath={currentPath} links={links} menuType={'sideways'} />
	</div>
</div>
