---
import type { MenuLink } from './Menu.astro'
import Menu from './Menu.astro'
import InfoCircle from '~icons/bx/info-circle'
import { headerWrapper, headerMobile, header, infoLink } from './SiteHeader.css'
import { isPartiallyActive } from 'src/util/helpers'

const links: MenuLink[] = [
	{ icon: 'home', href: '/', class: 'headerButton noPadding' },
	{ title: 'Gigs', href: '/gigs/' },
	{ title: 'Artists', href: '/artists/' },
	{ title: 'Venues', href: '/venues/' },
	{ title: 'Articles', href: '/blog/' },
	{ title: '[VAULT]', href: '/vaultsessions/', class: 'compressedText' }
]

const linksMobile: MenuLink[] = [
	{ title: 'Gigs', href: '/gigs/', sidebarOnActive: true },
	{ title: 'Artists', href: '/artists/', sidebarOnActive: 'partial' },
	{ title: 'Venues', href: '/venues/', sidebarOnActive: true },
	{ title: 'Articles', href: '/blog/', sidebarOnActive: true },
	{ title: '[VAULT]', href: '/vaultsessions/', class: 'compressedText' },
	{ href: '/page/info/', icon: 'info', class: 'headerButton' }
]

const currentPath = new URL(Astro.request.url).pathname
---

<div class={headerMobile}>
	<Menu links={linksMobile} menuType={'horizontal'} />
</div>
<div class={headerWrapper}>
	<div class={header}>
		<Menu links={links} menuType={'sideways'} />
		<a class={`${infoLink} ${isPartiallyActive('/page/info/', currentPath) ? 'active' : ''}`} href="/page/info/">
			<InfoCircle />
		</a>
	</div>
</div>

<style is:global>
	.compressedText {
		letter-spacing: -1px;
	}
</style>
