---
/**
 * List of links from an entries links field.
 */
import { socialLinksToMenuItems } from 'src/util/helpers'
import type { z } from 'astro:content'
import type { webLinks } from 'src/content.config'
import { SocialLinkWrapper, SocialLinkImage } from './SocialLinks.css'

interface Props {
	links?: z.infer<typeof webLinks>
	style?: Partial<CSSStyleDeclaration>
	className?: string
}

const { links, style = {}, className = '' } = Astro.props
---

<div class={className} style={style}>
	{
		socialLinksToMenuItems(links).map((item) => (
			<a href={item.href} title={item.title} class={SocialLinkWrapper}>
				{item.image ? <img src={item.image} alt={item.title} class={SocialLinkImage} /> : item.title}
			</a>
		))
	}
</div>
