---
/**
 * List of links from an entries links field.
 */
import { socialLinksToMenuItems } from 'src/util/helpers'
import { theme } from 'src/Theme.css'
import type { z } from 'astro:content'
import type { webLinks } from 'src/content/config'

interface Props {
	links?: z.infer<typeof webLinks>
	className?: string
}

const { links, className = '' } = Astro.props
---

<div style={{ marginTop: theme.dimensions.basePadding }} class={className}>
	{
		socialLinksToMenuItems(links).map((item) => (
			<a
				href={item.href}
				title={item.title}
				style={{ marginRight: theme.dimensions.basePaddingMobile, marginLeft: theme.dimensions.basePaddingMobile }}
			>
				{item.image ? (
					<img height="30" width="30" src={item.image} alt={item.title} style={{ background: 'black' }} />
				) : (
					item.title
				)}
			</a>
		))
	}
</div>
