---
import BackgroundImage from './BackgroundImage.astro'
import type { ResponsiveImage } from 'src/util/image'
import {
	tileWrapper,
	tileInner,
	titleWrapper,
	tileContent,
	tileTitle,
	tileLabel,
	tileSubtitle,
	background,
	height,
	width,
	heightHover,
	fontSize
} from './Tile.css'
import { assignInlineVars } from '@vanilla-extract/dynamic'

interface Props {
	href: string
	className?: string
	responsiveImage?: ResponsiveImage
	title?: string
	prefix?: string
	label?: string
	subtitle?: string
	feature?: boolean
	backgroundColor?: string
	containerHeight?: string
	containerWidth?: string
	hoverHeight?: string
}

const {
	href,
	className,
	responsiveImage,
	title,
	prefix,
	label,
	subtitle,
	feature,
	backgroundColor,
	containerHeight,
	containerWidth,
	hoverHeight
} = Astro.props
---

<div
	class={`${tileWrapper} ${className}`}
	style={assignInlineVars({
		[background]: backgroundColor,
		[height]: containerHeight,
		[width]: containerWidth
	})}
>
	<div
		class={tileInner}
		style={assignInlineVars({
			[heightHover]: hoverHeight
		})}
	>
		<a href={href} title={title}>
			{responsiveImage && <BackgroundImage responsiveImage={responsiveImage} />}
			<div class={titleWrapper}>
				<div class={tileContent}>
					{
						title && (
							<h2
								class={tileTitle}
								style={assignInlineVars({
									[fontSize]: feature ? '2em' : '1.2em'
								})}
							>
								{prefix && <span style={{ fontWeight: 200 }}>{prefix}</span>}
								{title}
							</h2>
						)
					}
					{
						label && (
							<h2 class={tileLabel}>
								<strong>{label}</strong>
							</h2>
						)
					}
					{subtitle && <h4 class={tileSubtitle} set:html={subtitle} />}
				</div>
			</div>
			<div class="textContent">
				<div>
					<slot />
				</div>
			</div>
		</a>
	</div>
</div>
