---
/**
 * A clickable tile used for displaying a link to content in a cool way.
 *
 * Props:
 *  - href: the link
 *  - image (optional): the background image
 *  - responsiveImage (optional): one or more background images (responsive)
 *  - backgroundStyle (optional): Can be 'full', 'fulldesktop' (hidden on mobile), or 'center'.
 *    Pass full to make it span the entire tile.
 *  - title (optional): displayed at the top
 *  - label (optional): displayed at the bottom
 *  - subtitle (optional): displayed under the title
 *  - dataAttributes (optional): data-whatever attributes to add
 *  - responsiveImageSizes (optional): indicates how the srcSet should be displayed.
 *  - backgroundColor (optional)
 *  - containerHeight (optional)
 *  - containerWidth (optional)
 *  - className (optional)
 *  - id (optional)
 *
 * Slots:
 *  - default: Content stuck to bottom of tile.
 *  - center: Content in middle of tile.
 *
 */
import BackgroundImage from './BackgroundImage.astro'
import type { ResponsiveImage } from 'src/util/ResponsiveImage'
import type { ResponsiveImageSizes } from 'src/components/Image2.astro'
import {
	tileWrapper,
	tileInner,
	tileContent,
	tileTitle,
	background,
	height,
	heightMobile,
	width,
	tileSubtitle,
	tileBottomContent
} from './Tile.css'
import { assignInlineVars } from '@vanilla-extract/dynamic'
import Image2 from 'src/components/Image2.astro'
import CornerLabel from './gig/CornerLabel.astro'

export type BackgroundStyle = 'full' | 'center' | 'fulldesktop'

interface Props {
	href: string
	image?: string
	responsiveImage?: ResponsiveImage[]
	backgroundStyle?: BackgroundStyle
	style?: Partial<CSSStyleDeclaration>
	title?: string
	label?: string
	subtitle?: string
	dataAttributes?: any
	responsiveImageSizes?: keyof ResponsiveImageSizes
	backgroundColor?: string
	containerHeight?: string
	containerHeightMobile?: string
	containerWidth?: string
	className?: string
	id?: string
}

const {
	href,
	className = '',
	id = '',
	image,
	responsiveImage,
	title,
	subtitle,
	label,
	backgroundColor,
	containerHeight,
	containerHeightMobile,
	containerWidth,
	dataAttributes,
	backgroundStyle = 'full',
	style = {},
	responsiveImageSizes
} = Astro.props

const hasDefault = Astro.slots.has('default')
---

<div
	{...dataAttributes}
	class={`${tileWrapper[containerWidth ? 'fixedWidth' : 'noWidth']} ${className} tile filtr-item`}
	style={{
		...style,
		...assignInlineVars({
			[height]: containerHeight,
			[heightMobile]: containerHeightMobile,
			[width]: containerWidth
		})
	}}
	id={id}
>
	<a
		href={href}
		title={title}
		class={tileInner}
		style={assignInlineVars({
			[background]: backgroundColor,
			[height]: containerHeight,
			[heightMobile]: containerHeightMobile
		})}
	>
		{
			responsiveImage && (
				<BackgroundImage
					responsiveImageSizes={responsiveImageSizes}
					responsiveImage={responsiveImage}
					objectFit={backgroundStyle == 'center' ? 'contain' : 'cover'}
					hideMobile={backgroundStyle == 'fulldesktop'}
				/>
			)
		}
		{image && <Image2 image={image} />}
		<div class={tileContent}>
			{
				label && (
					<CornerLabel position="right" top="0px">
						{label}
					</CornerLabel>
				)
			}
			{title && <h4 class={tileTitle}>{title}</h4>}
			{subtitle && <h5 class={tileSubtitle}>{subtitle}</h5>}
			{
				hasDefault && (
					<div class={tileBottomContent}>
						<slot />
					</div>
				)
			}
			<slot name="center" />
		</div>
	</a>
</div>
