---
import { type ProcessedEntry } from 'src/util/collection'
import { blogSidebarWrapper, featuredLinks } from './BlogSidebar.css'
import { theme } from 'src/Theme.css'
import { socialLinksToMenuItems } from 'src/util/helpers'

interface Props {
	entry: ProcessedEntry<'blog'>
}

const { entry } = Astro.props

const entryData = entry.entry.data
const entryExtra = entry.extra
---

<div class={blogSidebarWrapper}>
	<div>
		<small style={{ color: theme.color.dullText }}>{entryData.date.toLocaleDateString()}</small>
	</div>
	{
		!!entryExtra.relatedArtists.length && (
			<div class={featuredLinks}>
				<h3>Artists featured in this article</h3>
				{entryExtra.relatedArtists.map((artist) => (
					<div>
						<h4>
							<a href={`/artists/${artist.id}`}>{artist.data.title}</a>
						</h4>
						<ul>
							{socialLinksToMenuItems(artist.data.links).map((item) => (
								<li>
									<a href={item.href} style={{ marginRight: theme.dimensions.basePadding }}>
										{item.title}
									</a>
								</li>
							))}
							<li>
								<a href={artist.id}>GIGS</a>
							</li>
						</ul>
					</div>
				))}
			</div>
		)
	}
	{
		!!entryExtra.relatedVenues.length && (
			<div class={featuredLinks}>
				<h3>Venues featured in this article</h3>
				{entryExtra.relatedVenues.map((venue) => (
					<div>
						<h4>
							<a href={`/venues/${venue.id}`}>{venue.data.title}</a>
						</h4>
						<ul>
							{socialLinksToMenuItems(venue.data.links).map((item) => (
								<li>
									<a href={item.href} style={{ marginRight: theme.dimensions.basePadding }}>
										{item.title}
									</a>
								</li>
							))}
							<li>
								<a href={venue.id}>GIGS</a>
							</li>
						</ul>
					</div>
				))}
			</div>
		)
	}
</div>
