---
/**
 * Sidebar displayed next to blog articles.
 *
 * Displays links to all related entries.
 *
 * Props:
 *  - entry: The current entry for the page.
 *  - headings: All headings in the article.
 *  - className (optional): A class added to the wrapper.
 */
import { type ProcessedEntry } from 'src/util/collection'
import { blogSidebarWrapper, sidebarBox } from './BlogSidebar.css'
import { theme } from '../../Theme.css'
import { socialLinksToMenuItems } from 'src/util/helpers'
import type { MarkdownHeading } from 'astro'
import { tagLink } from 'src/components/blog/BlogTags.css'
import { toMachineName } from 'scripts/scriptHelpers.mjs'
import TableOfContents from './TableOfContents.astro'
import { formattedDate } from 'src/util/names'

interface Props {
	entry: ProcessedEntry<'blog'>
	headings: MarkdownHeading[]
	className?: string
}

const { entry, headings, className = '' } = Astro.props

const entryData = entry.entry.data
const entryExtra = entry.extra

---
<div class={`${blogSidebarWrapper} ${className}`}>
	<div>
		<small style={{ color: theme.color.dullText }}>
			Published {formattedDate(entryData.date)}
			{entryData.tags.map((tag) => 
				<a class={`${tagLink}`} title={tag} href={`/blog/tags/${toMachineName(tag)}/`}>
					{tag}
				</a>
			)}
		</small>
	</div>
	<TableOfContents headings={headings} />
	{
		!!entryExtra.relatedArtists.length && (
			<div class={sidebarBox}>
				<h3>Artists featured in this article</h3>
				{entryExtra.relatedArtists.map((artist) => (
						<h4>
							<a href={`/artists/${artist.id}`}>{artist.data.title}</a>
						</h4>
						<ul>
							{socialLinksToMenuItems(artist.data.links).map((item) => (
								<li>
									<a href={item.href} style={{ marginRight: theme.dimensions.basePadding }}>
										{item.title}
									</a>
								</li>
							))}
							<li>
								<a href={`/artists/${artist.id}`}>GIGS</a>
							</li>
						</ul>
				))}
			</div>
		)
	}
	{
		!!entryExtra.relatedVenues.length && (
			<div class={sidebarBox}>
				<h3>Venues featured in this article</h3>
				{entryExtra.relatedVenues.map((venue) => (
					<h4>
						<a href={`/venues/${venue.id}`}>{venue.data.title}</a>
					</h4>
					<ul>
						{socialLinksToMenuItems(venue.data.links).map((item) => (
							<li>
								<a href={item.href} style={{ marginRight: theme.dimensions.basePadding }}>
									{item.title}
								</a>
							</li>
						))}
						<li>
							<a href={`/venues/${venue.id}`}>GIGS</a>
						</li>
					</ul>
				))}
			</div>
		)
	}
	<slot />
</div>

