---
/**
 * A regular tile but pre-filled with blog metadata.
 */
import type { ProcessedEntry } from 'src/util/collection'
import Tile, { type BackgroundStyle } from '../Tile.astro'
import type { ResponsiveImageSizes } from '../Image2.astro'
import { tagLink } from './BlogTags.css'
import { formattedDate } from 'src/util/names'

interface Props {
	blog: ProcessedEntry<'blog'>
	containerHeight?: string
	containerHeightMobile?: string
	responsiveImageSizes?: keyof ResponsiveImageSizes
	backgroundStyle?: BackgroundStyle
}

const { blog, containerHeight, containerHeightMobile, backgroundStyle, responsiveImageSizes } = Astro.props

const blogData = blog.entry.data
const blogExtra = blog.extra
---

<Tile
	title={`ARTICLE: ${blogData.title}`}
	label={formattedDate(blogData.date)}
	href={blogExtra.absolutePath}
	responsiveImage={blogExtra.cover}
	responsiveImageSizes={responsiveImageSizes}
	backgroundStyle={backgroundStyle}
	containerHeight={containerHeight}
	containerHeightMobile={containerHeightMobile}
>
	{
		blogData.tags.map((tag) => (
			<span class={`${tagLink}`} title={tag}>
				{tag}
			</span>
		))
	}
	<h5 style={{ marginBottom: 0 }}>{blogData.description}</h5>
</Tile>
