---
/**
 * Displays metadata about all content on the website by counting content.
 */
import { getCollection } from 'astro:content'
import { infoHeader, infoTitle, infoContent } from './WebsiteInfo.css'
import { loadAndFormatCollection } from 'src/util/collection'

const currentYear = new Date().getFullYear()

const gigs = await loadAndFormatCollection('gig')
const artists = await getCollection('artist')
const venues = await getCollection('venue')

const counts = gigs.reduce(
	(acc, gig) => {
		acc[0] += gig.extra.media.imageCount
		acc[1] += gig.extra.media.audio.length
		return acc
	},
	[0, 0]
)
---

<div class={infoHeader}>
	<div class={infoContent}>
		<div class={infoTitle}>
			<h1 style={{ marginBottom: '10px' }}>THE DUNEDINSOUND.COM UNIVERSE</h1>
		</div>
		<table>
			<tbody>
				<tr>
					<td>gigs</td>
					<td>{gigs.length}</td>
				</tr>
				<tr>
					<td>artists</td>
					<td>{artists.length}</td>
				</tr>
				<tr>
					<td>venues</td>
					<td>{venues.length}</td>
				</tr>
				<tr>
					<td>photos</td>
					<td>{counts[0]}</td>
				</tr>
				<tr>
					<td>audio</td>
					<td>{counts[1]}</td>
				</tr>
				<tr>
					<td>years in operation</td>
					<td>{currentYear - 2014}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
