---
/**
 * Displays metadata about all content on the website by counting content.
 */
import { getCollection } from 'astro:content'
import { fdir } from 'fdir'
import { infoHeader, infoTitle, infoContent } from './WebsiteInfo.css'
import { DIST_MEDIA_DIR } from 'src/util/constants'

const currentYear = new Date().getFullYear()

const gigs = await getCollection('gig')
const artists = await getCollection('artist')
const venues = await getCollection('venue')

const imagesCount = await new fdir()
	.onlyCounts()
	.onlyDirs()
	.glob('**/**/*')
	.crawl(`${DIST_MEDIA_DIR}/gig`)
	.withPromise()
const audioCount = await new fdir().onlyCounts().glob('*.mp3').crawl(`${DIST_MEDIA_DIR}/gig`).withPromise()
---

<div class={infoHeader}>
	<div class={infoContent}>
		<div class={infoTitle}>
			<h1>THE DUNEDINSOUND.COM UNIVERSE</h1>
		</div>
		<table>
			<tbody>
				<tr>
					<td>gigs</td>
					<td>{gigs.length}</td>
				</tr>
				<tr>
					<td>artists</td>
					<td>{artists.length}</td>
				</tr>
				<tr>
					<td>venues</td>
					<td>{venues.length}</td>
				</tr>
				<tr>
					<td>photos</td>
					<td>{imagesCount.directories}</td>
				</tr>
				<tr>
					<td>audio</td>
					<td>{audioCount.files}</td>
				</tr>
				<tr>
					<td>years in operation</td>
					<td>{currentYear - 2014}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
