---
/**
 * Displays metadata about all content on the website by counting content.
 * 
 * CSS is stored globally in GlobalStyles.astro.
 * 
 * This is because of a bug with using using components in MDX, meaning we can't use
 * vanilla extract OR style tags.
 */
import { getCollection } from 'astro:content'
import { fdir } from 'fdir'

const currentYear = new Date().getFullYear()

const gigs = await getCollection('gig')
const artists = await getCollection('artist')
const venues = await getCollection('venue')

const imagesCount = await new fdir().onlyCounts().onlyDirs().glob('**/**/*').crawl('public/media/gig').withPromise()
const audioCount = await new fdir().onlyCounts().glob('*.mp3').crawl('public/media/gig').withPromise()
---

<div class="website-info-header">
	<div class="content">
		<div class="title">
			<h1>THE DUNEDINSOUND.COM UNIVERSE</h1>
		</div>
		<table>
			<tbody>
				<tr>
					<td>gigs</td>
					<td>{gigs.length}</td>
				</tr>
				<tr>
					<td>artists</td>
					<td>{artists.length}</td>
				</tr>
				<tr>
					<td>venues</td>
					<td>{venues.length}</td>
				</tr>
				<tr>
					<td>photos</td>
					<td>{imagesCount.directories}</td>
				</tr>
				<tr>
					<td>audio</td>
					<td>{audioCount.files}</td>
				</tr>
				<tr>
					<td>years in operation</td>
					<td>{currentYear - 2014}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
