---
import type { ProcessedEntry } from 'src/util/collection'
import DropdownMenu from '../DropdownMenu'
import { socialLinksToMenuItems } from 'src/util/helpers'
import { artistDropdownLink, artistDropdownLi, artistExtraWrapper } from './ArtistDropdown.css'
import { theme } from '../../Theme.css'
import { SocialLinkImage } from '../SocialLinks.css'
import ChevronRightIcon from '~icons/iconoir/nav-arrow-right'

interface Props {
	entry: ProcessedEntry<'gig'>
}

const { entry } = Astro.props
const entryExtra = entry.extra
---

<DropdownMenu
	direction="down"
	heightMobile={theme.dimensions.subheaderHeight}
	height={theme.dimensions.headerHeight}
	top={theme.dimensions.headerHeight}
	topMobile={theme.dimensions.headerHeightMobile}
	backgroundColor="white"
	textColor="black"
	client:load
>
	{
		entryExtra.artists.map((artist) => (
			<li class={`${artistDropdownLi} artistMenuLi`}>
				<a class={`${artistDropdownLink} menuLink`} title={artist.entry.data.title} href={`#${artist.entry.id}`}>
					{artist.entry.data.title}
				</a>
				{artist.entry.data.links && (
					<ul class={artistExtraWrapper}>
						{socialLinksToMenuItems(artist.entry.data.links).map((link) => (
							<li style={{ display: 'inline-block' }}>
								<a title={link.title} href={link.href}>
									<small>
										{!link.image && link.title}
										{link.image && (
											<img style={{ height: '25px', width: '25px' }} class={SocialLinkImage} src={link.image} />
										)}
									</small>
								</a>
							</li>
						))}
					</ul>
				)}
				{artist.extra.gigCount - 1 > 0 && (
					<a class={`${artistDropdownLink} seeOther`} href={`/artists/${artist.entry.id}`}>
						<small>
							{artist.extra.gigCount - 1} OTHER GIG{artist.extra.gigCount - 1 === 1 ? '' : 'S'} 
							<ChevronRightIcon style={{ position: 'relative', top: '3px' }} />
						</small>
					</a>
				)}
			</li>
		))
	}
</DropdownMenu>
