---
/**
 * Displays all the images and videos for each artist in a gig.
 *
 * Props:
 *  - entry: The current entry.
 *  - artistImages: The artist images to display.
 */
import type { ProcessedEntry } from 'src/util/collection'
import type { ResponsiveImage } from 'src/util/ResponsiveImage'
import Divider from '../Divider.astro'
import ImageGallery from '../ImageGallery.astro'
import ImageGalleryLightbox from '../ImageGalleryLightbox.astro'
import FlexGridContainer from '../FlexGridContainer.astro'
import LiteYoutube from '../LiteYoutube.astro'
import { theme } from '../../Theme.css'

interface Props {
	entry: ProcessedEntry<'gig'>
	artistImages: { [id: string]: ResponsiveImage[] }
}

const { entry, artistImages } = Astro.props
const entryExtra = entry.extra
const entryData = entry.entry.data
---

{
	entryExtra.artists.map((artist, i) => (
		<div class="artist" id={artist.entry.id}>
			<Divider
				href={`#${artist.entry.id}`}
				sticky={true}
				topMobile={theme.dimensions.headerHeightMobile}
				top={theme.dimensions.headerHeight}
			>
				{artist.entry.data.title}
			</Divider>
			<FlexGridContainer grid={{ xs: 12, md: 6 }} maxWidth="1080px" justifyContent="center">
				{entryData.artists[i].vid?.map((vid) => (
					<LiteYoutube videoid={vid.link} loadAPI={true} />
				))}
			</FlexGridContainer>
			{artistImages[artist.entry.id] && (
				<ImageGallery noLightbox={true} images={artistImages[artist.entry.id]} />
			)}
		</div>
	))
}

<ImageGalleryLightbox transition:persist />
