---
/**
 * Menu of all gigs on the website, sorted by date and month.
 *
 * It responds to shuffle events to filter its items.
 *
 * Props:
 *  selected (optional): it will show the artists under that gig.
 */
import { loadAndFormatCollection, sortGigs } from 'src/util/collection.ts'
import { gigLink, yearLink, monthLink, yearsMenuWrapper } from './GigsMenu.css'
import { makeHash } from 'src/util/names'
import DropdownMenu from '../DropdownMenu'
import { theme } from '../../Theme.css'
import { MenuLi } from '../Menu.css'
import { MenuWrapper } from '../Menu.css'
import ArtistsMenu from './ArtistsMenu.astro'
import { artistsToString } from 'src/util/helpers'
import SeriesIndicator from '../SeriesIndicator.astro'

interface Props {
	selected?: string
}

const gigs = await loadAndFormatCollection('gig')
const series = await loadAndFormatCollection('series')
const sortedGigs = sortGigs(gigs)

const { selected } = Astro.props
---

<DropdownMenu
	list={Object.entries(sortedGigs)
		.reverse()
		.map(([yearName, yearObj]) => ({
			href: `#${makeHash(yearName)}`,
			title: yearName,
			subtitle: `(${yearObj.count})`
		}))}
	direction="down"
	backgroundColor="white"
	textColor="black"
	heightMobile={theme.dimensions.headerHeightMobile}
	top={'0px'}
	client:load
/>

<ul is="gigs-menu" data-selected={selected} class={`${yearsMenuWrapper} yearList`} style={{ overflow: 'clip' }}>
	{
		Object.entries(sortedGigs)
			.reverse()
			.map(([yearName, yearObj]) => (
				<li class={MenuLi['vertical']} id={makeHash(yearName)}>
					<a class={yearLink} title={yearName} style={{ position: 'sticky' }}>
						{yearName} {`(${yearObj.count})`}
					</a>
					<ul class={`${MenuWrapper['vertical']} monthList`}>
						{Object.entries(yearObj.gigs).map(([monthName, gigs]) => (
							<li class={`${MenuLi['vertical']} monthItem`}>
								<a class={monthLink} title={monthName}>
									{monthName}
								</a>
								<ul class={`${MenuWrapper['vertical']} gigList`}>
									{gigs.map((gig) => (
										<li
											class={`${MenuLi['vertical']} gigItem filter-item ${gig.entry.id === selected ? 'active' : ''}`}
											data-sidebarid={makeHash(gig.entry.id)}
											data-searchable={`${gig.entry.data.venue.id.replace('_', ' ')},${artistsToString(gig.extra.artists)}`}
										>
											<a
												class={gigLink}
												title={gig.entry.data.title}
												href={!selected ? `#${makeHash(gig.entry.id)}` : gig.extra.absolutePath}
											>
												{gig.entry.data.title}
											</a>
											{gig.entry.id === selected && <ArtistsMenu artists={gig.extra.artists} transition:persist />}
										</li>
									))}
								</ul>
							</li>
						))}
					</ul>
				</li>
			))
	}
	<li class={`${MenuLi['vertical']}`}>
		<a class={yearLink} style={{ position: 'sticky' }}>
			<SeriesIndicator hideText={true} color="black" /> Series
		</a>
		<ul class={`${MenuWrapper['vertical']} seriesList`}>
			{
				series.map((entry) => (
					<li class={`${MenuLi['vertical']} seriesItem filter-item`} data-sidebarid={makeHash(entry.entry.id)}>
						<a class={gigLink} title={entry.entry.data.title} href={entry.extra.absolutePath}>
							{entry.entry.data.title} ({entry.extra.gigCount} gigs)
						</a>
					</li>
				))
			}
		</ul>
	</li>
</ul>

<slot />

<script>
	import type { SidebarWrapper } from '../SidebarNav.astro.0.mts'
	import { filterEventName, type FilterEventDetails } from 'src/util/events'
	import { dropdownClickEventName, type DropdownClickEventDetails } from '../DropdownMenu'

	/**
	 * A menu of gigs, with series at the bottom.
	 *
	 * Similar to EntryMenu.astro but with subcategories for year/month.
	 */
	class GigsMenu extends HTMLUListElement {
		sidebar: SidebarWrapper | null
		artistsMenu: HTMLElement | null
		selected: string | null

		constructor() {
			super()
			this.sidebar = document.querySelector<SidebarWrapper>('sidebar-wrapper')
			this.artistsMenu = this.querySelector('artists-menu')
			this.selected = this.getAttribute('data-selected')
		}

		get gigLinks() {
			return this.querySelectorAll('.gigItem:not(.hidden)')
		}

		get seriesLinks() {
			return this.querySelectorAll('.seriesItem:not(.hidden)')
		}

		/**
		 * When a gig link is clicked.
		 *
		 * @param e
		 */
		gigClick(e: MouseEvent) {
			e.preventDefault()
			// Close sidebar on mobile
			// See: SidebarNav.astro
			this.sidebar?.toggleSidebar()
			const target = e.currentTarget as HTMLElement
			this.scrollToGig(target)
		}

		/**
		 * Scrolls to a gig in the corresponding virtualized list if there is one.
		 *
		 * @param target
		 *   The gig which was clicked.
		 */
		scrollToGig(target: HTMLElement) {
			// Find where the gig appears in the menu
			const index = Array.from(this.gigLinks).indexOf(target)
			// Scroll to it in the virtualized list
			// See VirtualizedList.astro
			const virtualizedList = document.querySelector('virtualized-list')
			// @ts-ignore
			virtualizedList?.scrollToRow(index)
		}

		/**
		 * Respond to filter events and hide gigs/years/months.
		 *
		 * @param e
		 */
		onFilter = (e: any) => {
			const detail: FilterEventDetails = e.detail
			const items = detail.items
			const filteredItems = detail.filteredItems

			// Hide the artists menu if we're shuffling
			if (filteredItems?.length !== items?.length && this.selected) {
				this.artistsMenu?.classList.add('hidden')
			} else {
				this.artistsMenu?.classList.remove('hidden')
			}

			items?.forEach((item) => {
				const gigId = item.dataset.sidebarid

				const sidebarItem = this.querySelector(`[data-sidebarid="${gigId}"]`)

				// Hide items filtered out by shuffle if they arent alreaedy
				if (!filteredItems?.includes(item)) {
					sidebarItem?.classList.add('hidden')
				} else {
					sidebarItem?.classList.remove('hidden')
				}

				// Hide series title if no series matches
				const seriesList = sidebarItem?.closest('.seriesList')
				if (seriesList) {
					const seriesInGroup = seriesList.childElementCount
					const hiddenSeriesInGroup = seriesList.querySelectorAll('li.hidden').length
					if (seriesInGroup === hiddenSeriesInGroup) {
						seriesList.parentElement?.classList.add('hidden')
					} else {
						seriesList.parentElement?.classList.remove('hidden')
					}
				}

				const gigList = sidebarItem?.closest('.gigList')
				if (!gigList) return

				const monthList = gigList.closest('.monthList')
				if (!monthList) return

				// Hide months without any visible gigs
				const gigsInGroup = gigList.childElementCount
				const hiddenGigsInGroup = gigList.querySelectorAll('.gigItem.hidden').length

				if (gigsInGroup === hiddenGigsInGroup) {
					gigList.parentElement?.classList.add('hidden')
				} else {
					gigList.parentElement?.classList.remove('hidden')
				}

				// Hide years without any visible months
				const monthsInYear = monthList.childElementCount
				const hiddenMonthsInYear = monthList.querySelectorAll('.monthItem.hidden').length

				if (monthsInYear === hiddenMonthsInYear) {
					monthList.parentElement?.classList.add('hidden')
				} else {
					monthList.parentElement?.classList.remove('hidden')
				}
			})
		}

		/**
		 * When a year is clicked in the dropdown, this scrolls to the first gig in the list.
		 *
		 * @param e
		 */
		onDropdownClick = (e: any) => {
			const detail: DropdownClickEventDetails = e.detail
			const hash = detail.target.hash?.slice(1)
			if (!hash) return
			const firstGig: HTMLElement | null = this.querySelector(`[data-sidebarid^="${hash}"]`)
			if (firstGig) {
				this.scrollToGig(firstGig)
			}
		}

		/**
		 * Attach listeners.
		 */
		connectedCallback() {
			window.addEventListener(filterEventName, this.onFilter)
			window.addEventListener(dropdownClickEventName, this.onDropdownClick)
			!this.selected &&
				this.gigLinks?.forEach((gigLink) => gigLink.addEventListener('click', (e: MouseEvent) => this.gigClick(e)))
		}

		/**
		 * Detach listeners.
		 */
		disconnectedCallback() {
			window.removeEventListener(filterEventName, this.onFilter)
			window.removeEventListener(dropdownClickEventName, this.onDropdownClick)
			!this.selected &&
				this.gigLinks?.forEach((gigLink) => gigLink.removeEventListener('click', (e: MouseEvent) => this.gigClick(e)))
		}
	}

	customElements.define('gigs-menu', GigsMenu, { extends: 'ul' })
</script>
