---
/**
 * A regular tile but pre-filled with gig metadata.
 */
import { processEntry, type ProcessedEntry } from 'src/util/collection'
import Tile, { type BackgroundStyle } from '../Tile.astro'
import { artistsToString } from 'src/util/helpers'
import { formattedDate, makeHash } from 'src/util/names'
import type { ResponsiveImageSizes } from '../Image2.astro'
import type { CollectionEntry } from 'astro:content'

interface Props {
	gig: CollectionEntry<'gig'> | ProcessedEntry<'gig'>
	containerHeight?: string
	containerHeightMobile?: string
	className?: string
	style?: Partial<CSSStyleDeclaration>
	responsiveImageSizes?: keyof ResponsiveImageSizes
	backgroundStyle?: BackgroundStyle
}

const {
	gig,
	containerHeight,
	containerHeightMobile,
	className = '',
	style,
	backgroundStyle,
	responsiveImageSizes
} = Astro.props

// Type guard: ProcessedEntry has an 'extra' property, CollectionEntry doesn't
const isProcessedEntry = (entry: CollectionEntry<'gig'> | ProcessedEntry<'gig'>): entry is ProcessedEntry<'gig'> => {
	return 'extra' in entry
}

const processedEntry: ProcessedEntry<'gig'> = isProcessedEntry(gig) ? gig : await processEntry(gig)
const gigData = processedEntry.entry.data
const gigExtra = processedEntry.extra
const id = processedEntry.entry.id
---

<Tile
	style={style}
	className={className}
	href={gigExtra.absolutePath}
	responsiveImage={gigExtra.cover}
	responsiveImageSizes={responsiveImageSizes}
	backgroundStyle={backgroundStyle}
	id={makeHash(id)}
	subtitle={gigExtra.venue?.data.title}
	label={formattedDate(gigData.date)}
	title={gigData.title}
	containerHeight={containerHeight}
	containerHeightMobile={containerHeightMobile}
	containerWidth={'100%'}
	dataAttributes={{
		'data-title': gigData.title,
		'data-sidebarid': makeHash(id)
	}}
>
	<h6 style={{ marginBottom: '0px' }}>
		{artistsToString(gigExtra.artists)}
	</h6>
</Tile>
