---
/**
 * A regular tile but pre-filled with gig metadata.
 */
import type { ProcessedEntry } from 'src/util/collection'
import Tile, { type BackgroundStyle } from '../Tile.astro'
import { artistsToString } from 'src/util/helpers'
import { makeHash } from 'src/util/names'
import type { ResponsiveImageSizes } from '../Image2.astro'

interface Props {
	gig: ProcessedEntry<'gig'>
	containerHeight?: string
	containerHeightMobile?: string
	className?: string
	responsiveImageSizes?: keyof ResponsiveImageSizes
	backgroundStyle?: BackgroundStyle
}

const {
	gig,
	containerHeight,
	containerHeightMobile,
	className = '',
	backgroundStyle,
	responsiveImageSizes
} = Astro.props

const gigData = gig.entry.data
const gigExtra = gig.extra
---

<Tile
	className={className}
	href={gigExtra.absolutePath}
	responsiveImage={gigExtra.cover}
	responsiveImageSizes={responsiveImageSizes}
	backgroundStyle={backgroundStyle}
	id={makeHash(gig.entry.id)}
	subtitle={gigExtra.venue.data.title}
	label={gigData.date.toLocaleDateString()}
	title={gigData.title}
	containerHeight={containerHeight}
	containerHeightMobile={containerHeightMobile}
	dataAttributes={{
		'data-title': `${gigData.title} ${gigExtra.venue.data.title} ${artistsToString(gigExtra.artists)}`
	}}
>
	<h5 style={{ marginBottom: '0px' }}>
		{artistsToString(gigExtra.artists)}
	</h5>
</Tile>
