---
/**
 * A regular tile but pre-filled with gig metadata.
 */
import type { ProcessedEntry } from 'src/util/collection'
import Tile, { type BackgroundStyle } from '../Tile.astro'
import { artistsToString } from 'src/util/helpers'
import { formattedDate, makeHash } from 'src/util/names'
import type { ResponsiveImageSizes } from '../Image2.astro'

interface Props {
	gig: ProcessedEntry<'gig'>
	containerHeight?: string
	containerHeightMobile?: string
	className?: string
	style?: Partial<CSSStyleDeclaration>
	responsiveImageSizes?: keyof ResponsiveImageSizes
	backgroundStyle?: BackgroundStyle
}

const {
	gig,
	containerHeight,
	containerHeightMobile,
	className = '',
	style,
	backgroundStyle,
	responsiveImageSizes
} = Astro.props

const gigData = gig.entry.data
const gigExtra = gig.extra
---

<Tile
	style={style}
	className={className}
	href={gigExtra.absolutePath}
	responsiveImage={gigExtra.cover}
	responsiveImageSizes={responsiveImageSizes}
	backgroundStyle={backgroundStyle}
	id={makeHash(gig.entry.id)}
	subtitle={gigExtra.venue?.data.title}
	label={formattedDate(gigData.date)}
	title={gigData.title}
	containerHeight={containerHeight}
	containerHeightMobile={containerHeightMobile}
	containerWidth={'100%'}
	dataAttributes={{
		'data-title': gigData.title,
		'data-gig': makeHash(gig.entry.id)
	}}
>
	<h6 style={{ marginBottom: '0px' }}>
		{artistsToString(gigExtra.artists)}
	</h6>
</Tile>
