---
/**
 * A regular tile but pre-filled with gig metadata.
 */
import type { ProcessedEntry } from 'src/util/collection'
import Tile from '../Tile.astro'
import { artistsToString, makeHash } from 'src/util/helpers'
import type { ResponsiveImageSizes } from '../Image2.astro'

interface Props {
	gig: ProcessedEntry<'gig'>
	containerHeight?: string
	className?: string
	responsiveImageSizes?: keyof ResponsiveImageSizes
}

const { gig, containerHeight, className, responsiveImageSizes } = Astro.props

const gigData = gig.entry.data
const gigExtra = gig.extra
---

<Tile
	className={className}
	href={gigExtra.absolutePath}
	responsiveImage={gigExtra.cover}
	responsiveImageSizes={responsiveImageSizes}
	id={makeHash(gig.entry.id)}
	subtitle={gigExtra.venue.data.title}
	label={gigData.date.toLocaleDateString()}
	title={gigData.title}
	containerHeight={containerHeight || '30vh'}
	dataAttributes={{
		'data-title': `${gigData.title} ${gigExtra.venue.data.title} ${artistsToString(gigExtra.artists)}`
	}}
>
	<h5 style={{ marginBottom: '0px' }}>
		{artistsToString(gigExtra.artists)}
	</h5>
</Tile>
