---
import type { ProcessedEntry } from 'src/util/collection'
import Tile from '../Tile.astro'
import { artistsToString, makeHash } from 'src/util/helpers'

interface Props {
	gig: ProcessedEntry<'gig'>
}

const { gig } = Astro.props
---

<Tile
	href={gig.extra.absolutePath}
	responsiveImage={gig.extra.cover}
	id={makeHash(gig.entry.id)}
	label={gig.extra.venue.data.title}
	prefix={gig.entry.data.date.toLocaleDateString()}
	title={gig.entry.data.title}
	containerHeight="30vh"
	dataAttributes={{
		'data-title': `${gig.entry.data.title} ${gig.extra.venue.data.title} ${artistsToString(gig.extra.artists)}`
	}}
>
	<h5 style={{marginBottom: "0px"}}>
		{artistsToString(gig.extra.artists)}
	</h5>
</Tile>
