---
import type { ProcessedEntry } from 'src/util/collection'
import Tile from '../Tile.astro'
import { artistsToString, makeHash } from 'src/util/helpers'
import type { ResponsiveImageSizes } from '../Image2.astro'

interface Props {
	gig: ProcessedEntry<'gig'>
	containerHeight?: string
	className?: string
	responsiveImageSizes?: keyof ResponsiveImageSizes
}

const { gig, containerHeight, className, responsiveImageSizes } = Astro.props
---

<Tile
	className={className}
	href={gig.extra.absolutePath}
	responsiveImage={gig.extra.cover}
	responsiveImageSizes={responsiveImageSizes}
	id={makeHash(gig.entry.id)}
	subtitle={gig.extra.venue.data.title}
	label={gig.entry.data.date.toLocaleDateString()}
	title={gig.entry.data.title}
	containerHeight={containerHeight || '30vh'}
	dataAttributes={{
		'data-title': `${gig.entry.data.title} ${gig.extra.venue.data.title} ${artistsToString(gig.extra.artists)}`
	}}
>
	<h5 style={{ marginBottom: '0px' }}>
		{artistsToString(gig.extra.artists)}
	</h5>
</Tile>
