---
/**
 * A container for wrapping the Player which allows it to be minimized on scroll.
 */
import ChevronDownIcon from '~icons/iconoir/nav-arrow-down'
import ChevronUpIcon from '~icons/iconoir/nav-arrow-up'
import PlayIcon from '~icons/iconoir/emoji-talking-happy'
import { playerWrapper, openButtonWrapper, openButton, icon, player } from './PlayerContainer.css'

interface Props {
	minimizedAlways?: boolean
}

const { minimizedAlways } = Astro.props
---

<player-wrapper class={playerWrapper} data-minimizedalways={minimizedAlways ? 'true' : undefined}>
	<div class={openButtonWrapper} title="Audio Player">
		<button class={openButton} id="open-button" aria-label="Open audio player">
			<span>AUDIO</span>
			<span class={`${icon} up`} aria-role="presentation">
				<ChevronUpIcon />
			</span>
			<span class={`${icon} down hidden`} aria-role="presentation">
				<ChevronDownIcon />
			</span>
			<span class={`${icon} play hidden`} aria-role="presentation">
				<PlayIcon />
			</span>
		</button>
	</div>
	<div id="player" class={player}>
		<slot />
	</div>
</player-wrapper>

<script>
	import { calculateScrollHeaderOffset } from 'src/util/helpers'

	class PlayerWrapper extends HTMLElement {
		private _internals

		sidebarExists: boolean
		playerInBanner: HTMLElement | null
		minimizedAlways: boolean
		player: HTMLElement | null
		openButton: HTMLElement | null

		constructor() {
			super()

			this._internals = this.attachInternals()
			this.minimizedAlways = !!this.dataset.minimizedalways

			this.openButton = this.querySelector<HTMLElement>('button#open-button')

			this.sidebarExists = !!document.querySelector<HTMLElement>('#sidebar')
			this.playerInBanner = this.closest<HTMLElement>('.banner')
		}

		get open() {
			return this._internals.states.has('open')
		}

		set open(flag) {
			if (flag) {
				this._internals.states.add('open')
			} else {
				this._internals.states.delete('open')
			}
		}

		get minimized() {
			return this._internals.states.has('minimized')
		}

		set minimized(flag) {
			if (flag) {
				this._internals.states.add('minimized')
			} else {
				this._internals.states.delete('minimized')
			}
		}

		get playing() {
			return this._internals.states.has('playing')
		}

		set playing(flag) {
			if (flag) {
				this._internals.states.add('playing')
			} else {
				this._internals.states.delete('playing')
			}
		}

		/**
		 * Minimize the player to the bottom when scrolled, expand when not.
		 */
		onScroll = () => {
			if (this.minimizedAlways) return

			const bannerHeight = calculateScrollHeaderOffset(window) || 30

			if (window.scrollY >= bannerHeight) {
				this.minimized = true
			} else {
				this.minimized = false
			}
		}

		/**
		 * Fires when the Wavesurfer instance in the Player component is ready.
		 */
		onWavesurferReady = () => {
			// This is to prevent skipping when scrolling up and down on mobile.
			if (this.playerInBanner) {
				this.playerInBanner.style.height = this.playerInBanner.clientHeight.toString() + 'px'
			}
		}

		/**
		 * Fires when the Wavesurfer instance in the Player component is played.
		 */
		onWavesurferPlay = () => {
			this.playing = true
		}

		/**
		 * Fires when the Wavesurfer instance in the Player component is stopped.
		 */
		onWavesurferStop = () => {
			this.playing = false
		}

		connectedCallback() {
			this.openButton &&
				this.openButton.addEventListener('click', () => {
					this.open = !this.open
				})

			if (this.minimizedAlways) {
				this.open = false
				this.minimized = true
			}

			if (this.sidebarExists) {
				this.classList.add('sidebarExists')
			}

			window.addEventListener('wavesurfer_ready', () => this.onWavesurferReady())
			window.addEventListener('wavesurfer_play', () => this.onWavesurferPlay())
			window.addEventListener('wavesurfer_stop', () => this.onWavesurferStop())
			window.addEventListener('scroll', this.onScroll, { passive: true })
		}

		disconnectedCallback() {
			window.removeEventListener('scroll', this.onScroll)
		}
	}

	customElements.define('player-wrapper', PlayerWrapper)
</script>
