---
import FlexGridContainer from 'src/components/FlexGridContainer.astro'
import { loadAndFormatCollection, type ProcessedEntry } from 'src/util/collection'
import Tile from 'src/components/Tile.astro'
import DropdownMenu from 'src/components/DropdownMenu.tsx'
import Divider from 'src/components/Divider.tsx'
import ContentTabs from 'src/components/ContentTabs.astro'
import Banner from 'src/components/Banner.astro'
import ActiveIndicator from 'src/components/ActiveIndicator.astro'
import { theme } from 'src/Theme.css'
import SocialLinks from 'src/components/SocialLinks.astro'
import ImageGallery from 'src/components/ImageGallery.astro'
import GigTile from 'src/components/gig/GigTile.astro'

interface Props {
	entry: ProcessedEntry<'artist'> | ProcessedEntry<'venue'>
}

const { entry } = Astro.props

const gigs = await loadAndFormatCollection('gig', ({ data }) => {
	const matchByArtist = data.artists?.find((artist: any) => artist.id.id === entry.entry.id)
	const matchByVenue = data.venue.id === entry.entry.id
	return matchByArtist || matchByVenue
})

// For some reason this groups them in reversed order, so we reverse the array later
const gigsByYear = Object.groupBy(gigs, (gig) => gig.entry.data.date.getFullYear())
const years = Object.keys(gigsByYear).reverse()

// Find related blogs
const blogs = await loadAndFormatCollection('blog', ({ data }) => {
	const matchByTag = data.tags?.find((tag: any) => tag === entry.entry.id)
	return matchByTag
})

// Find related vaultsessions
const vaultSessions = await loadAndFormatCollection('vaultsession', ({ data }) => {
	const matchByArtist = data.artist.id === entry.entry.id
	return matchByArtist
})

const entryData = entry.entry.data
const entryExtra = entry.extra

const images = entryExtra.images

let tabs = [{ title: `Gigs (${gigs.length})`, id: 'gigs' }]
blogs.length > 0 && tabs.push({ title: `Articles (${blogs.length})`, id: 'blogs' })
images && tabs.push({ title: `Images (${Object.keys(images).length})`, id: 'images' })
vaultSessions.length > 0 && tabs.push({ title: `VAULT SESSION`, id: 'vaultsessions' })
---

<Banner
	title={entryData.title + ('origin' in entryData ? ` (${entryData.origin})` : '')}
	backgroundImage={entryExtra.cover}
>
	<div slot="subtitle">
		<ActiveIndicator
			born={entryData.date}
			died={entryData.died}
			inactiveText={entry.entry.collection === 'artist' ? 'Inactive' : 'Defunct'}
		/>
	</div>
	{entryData.links && <SocialLinks links={entryData.links} />}
	{
		entryData.description && (
			<p>
				<Fragment set:html={entryData.description} />
			</p>
		)
	}
	{
		entryData.links && 'audioculture' in entryData.links && (
			<blockquote cite={entryData.links['audioculture']?.link}>
				"{entryData.links['audioculture']?.snippet}" - <span>Audioculture</span>
			</blockquote>
		)
	}
	<div slot="background">
		<slot />
	</div>
</Banner>
<ContentTabs tabs={tabs}>
	<div data-tabid="gigs">
		<DropdownMenu
			direction="down"
			top={theme.dimensions.headerHeightWithSubheader}
			list={years.map((year) => ({ title: year, hash: `y${year}` }))}
			client:load
		/>
		{
			Object.entries(gigsByYear)
				.reverse()
				.map(([year, gigs]) => (
					<div id={`y${year}`}>
						<Divider
							backgroundColor={theme.color.foreground}
							href={`#y${year}`}
							sticky={theme.dimensions.headerHeightWithSubheader}
							smoothScroll={true}
							client:load
						>
							{year} ({gigs?.length})
						</Divider>
						<FlexGridContainer>
							{gigs?.map((gig) => (
								<GigTile gig={gig} />
							))}
						</FlexGridContainer>
					</div>
				))
		}
	</div>
	<div data-tabid="blogs">
		<FlexGridContainer>
			{
				blogs.map((blog) => (
					<Tile
						href={blog.extra.absolutePath}
						title={blog.entry.data.title}
						label={blog.entry.data.date.toLocaleDateString()}
						responsiveImage={blog.extra.cover}
					/>
				))
			}
		</FlexGridContainer>
	</div>
	{
		images && (
			<div data-tabid="images">
				<ImageGallery images={Object.values(images)} />
			</div>
		)
	}
	<div data-tabid="vaultsessions">
		<FlexGridContainer>
			{
				vaultSessions.map((vaultsession) => (
					<Tile
						href={vaultsession.extra.absolutePath}
						title={vaultsession.entry.data.title}
						label={vaultsession.entry.data.date.toLocaleDateString()}
						responsiveImage={vaultsession.extra.cover}
					/>
				))
			}
		</FlexGridContainer>
	</div>
</ContentTabs>
