---
/**
 * A layout with a player for playing one artists audio.
 *
 * Props:
 *  - entry: The entry.
 */
import { loadAndFormatCollection, type ProcessedEntry } from 'src/util/collection'
import SidebarPlayer from 'src/components/gig/SidebarPlayer'
import ImageGallery from 'src/components/ImageGallery.astro'
import BaseLayout from '../base/BaseLayout.astro'
import { artistPlayerThreshold } from 'src/util/constants'
import DropdownMenu from 'src/components/DropdownMenu.astro'
import { fileButton } from 'src/layouts/collection/ArtistPlayer.css'

interface Props {
	entry?: ProcessedEntry<'artist'>
}

const { entry } = Astro.props

let audioFromGigs

if (entry) {
	// Find related gigs and sort them
	const gigs = await loadAndFormatCollection('gig', (thing) => {
		const matchByArtist = thing.entry.data.artists?.find((artist) => artist.id.id === entry.entry.id)
		const matchByVenue = thing.entry.data.venue.id === entry.entry.id
		return !!(matchByArtist || matchByVenue)
	})

	audioFromGigs = gigs.reduce((acc, gig) => {
		const audio = gig.extra.media.audio
			.filter((audio) => audio.title === entry.entry.id)
			.map((audio) => ({ ...audio, title: gig.entry.id }))
		return [...acc, ...audio]
	}, [])
}

const entries = await loadAndFormatCollection('artist', (entry) => entry.extra.gigCount > artistPlayerThreshold)
const artistList = entries.map((entry) => ({ title: entry.entry.id, href: `/player/artists/${entry.entry.id}` }))
---

<BaseLayout
	hideFooter={true}
	poo={{
		title: entry ? entry.entry.data.title : 'Player',
		description: 'Player'
	}}
>
	<SidebarPlayer title={`${entry ? entry.entry.id : ''} PLAYER`} artistAudio={audioFromGigs} client:load>
		<DropdownMenu
			slot="menu"
			list={[{ title: 'Load an artist', submenu: artistList }]}
			direction="down"
			width="200px"
			buttonPosition="left"
			backgroundColor="#353551"
		>
			<div class={fileButton} slot="button">File</div>
		</DropdownMenu>
		{entry && <div id="gig-meta" style={{ padding: '3px' }} data-artist={entry.entry.id} />}
		<ImageGallery thumbnailWidthDesktop="200px" />
	</SidebarPlayer>
</BaseLayout>

<script>
	import {
		imageGalleryUpdateEventName,
		playerTrackChange,
		type ImageGalleryUpdateEventDetails,
		type PlayerTrackChangeEventDetails
	} from 'src/util/events'

	import { getEntryPath, type ArtistGigResponse } from 'src/util/helpers'

	document.addEventListener('astro:page-load', () => {
		const metaContainer = document.querySelector('#gig-meta')

		/**
		 * When the track changes, grab data about the gig.
		 */
		window.addEventListener(playerTrackChange, async (e: any) => {
			const detail: PlayerTrackChangeEventDetails = e.detail
			const artist = document.querySelector<HTMLElement>('#gig-meta')?.dataset.artist
			const req = await fetch(`/data/artists/${artist}/${detail.track.title}.json`)

			if (req.ok) {
				const json: ArtistGigResponse = await req.json()

				if (json.images) {
					// Give images to the image gallery
					const detail: ImageGalleryUpdateEventDetails = {
						images: json.images
					}
					const event = new CustomEvent(imageGalleryUpdateEventName, {
						detail
					})
					window.dispatchEvent(event)
				}

				const gig = json.data

				const texts: Node[] = []

				const text = document.createElement('p')
				text.setAttribute('style', 'padding:0;margin:0;')
				text.innerHTML = `title: ${gig.data.title} <a href="${getEntryPath(gig.data.title, 'gig')}">[Go to gig]</a>`
				texts.push(text)

				// Update metadata section
				for (const field in gig.data) {
					const text = document.createElement('p')
					text.setAttribute('style', 'padding:0;margin:0;')
					const value = gig.data[field]

					if (field === 'title') {
						continue
					} else if (typeof value === 'string') {
						text.innerHTML = `${field}: ${value}`
					} else if (Array.isArray(value)) {
						const valueTexts = value.map((thing) => `${thing.id.id}`)
						text.innerHTML = `${field}: ${valueTexts.join(',')}`
					} else if (typeof value === 'object') {
						text.innerHTML = `${field}: ${value.id}`
					}
					texts.push(text)
				}

				metaContainer?.replaceChildren(...texts)
			}
		})
	})
</script>
